<svg width="744" height="782" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
 <defs>
  <linearGradient id="linearGradient12270">
   <stop stop-color="#babdb6" offset="0" id="stop12272"/>
   <stop stop-color="#888a85" stop-opacity="0" offset="1" id="stop12274"/>
  </linearGradient>
  <linearGradient y2="-16.132717" y1="4.375" xlink:href="#linearGradient12270" x2="-2.659497" x1="35.743351" id="linearGradient12278" gradientUnits="userSpaceOnUse" gradientTransform="matrix(4.8555361,0,0,6.1115355,467.80607,620.38597)"/>
  <linearGradient id="linearGradient11607">
   <stop stop-color="#000000" offset="0" id="stop11609"/>
   <stop stop-color="#000000" stop-opacity="0" offset="1" id="stop11611"/>
  </linearGradient>
  <linearGradient id="linearGradient11597">
   <stop stop-color="#ffffff" offset="0" id="stop11599"/>
   <stop stop-color="#d9d9d9" offset="0.373333" id="stop11643"/>
   <stop stop-color="#c5c5c5" offset="0.603111" id="stop11964"/>
   <stop stop-color="#909090" offset="1" id="stop11601"/>
  </linearGradient>
  <linearGradient id="linearGradient11950">
   <stop stop-color="#ffffff" offset="0" id="stop11952"/>
   <stop stop-color="#babdb6" offset="1" id="stop11954"/>
  </linearGradient>
  <linearGradient id="linearGradient11635">
   <stop stop-color="#ffffff" stop-opacity="0.855346" offset="0" id="stop11637"/>
   <stop stop-color="#ffffff" stop-opacity="0" offset="1" id="stop11639"/>
  </linearGradient>
  <linearGradient id="linearGradient11621">
   <stop stop-color="#babdb6" offset="0" id="stop11623"/>
   <stop stop-color="#d3d7cf" offset="0.2" id="stop11629"/>
   <stop stop-color="#555753" offset="1" id="stop11625"/>
  </linearGradient>
  <linearGradient id="linearGradient2985">
   <stop stop-color="#d8dfd6" offset="0" id="stop2987"/>
   <stop stop-color="#d8dfd6" stop-opacity="0" offset="1" id="stop2989"/>
  </linearGradient>
  <linearGradient y2="44.878883" y1="49.953003" xlink:href="#linearGradient2985" x2="-23.8857" x1="-23.8857" id="linearGradient2991" gradientUnits="userSpaceOnUse" gradientTransform="scale(1.492875,0.669848)"/>
  <radialGradient xlink:href="#linearGradient2454" r="8.766279" id="radialGradient2464" gradientUnits="userSpaceOnUse" gradientTransform="scale(1.925808,0.519262)" fy="67.501709" fx="12.57571" cy="67.501709" cx="12.57571"/>
  <linearGradient id="linearGradient2701">
   <stop stop-color="#555753" offset="0" id="stop2703"/>
   <stop stop-color="#babdb6" offset="1" id="stop2705"/>
  </linearGradient>
  <linearGradient y2="64.892525" y1="53.535141" xlink:href="#linearGradient2701" x2="12.127711" x1="12.206709" id="linearGradient2707" gradientUnits="userSpaceOnUse" gradientTransform="matrix(23.540309,0,0,7.1353505,-56.666233,128.76933)"/>
  <linearGradient y2="31.246054" y1="5.381774" xlink:href="#linearGradient2253" x2="32.536823" x1="10.390738" id="linearGradient2979" gradientUnits="userSpaceOnUse" gradientTransform="matrix(14.313276,0,0,11.735142,-56.666236,128.76934)"/>
  <linearGradient y2="33.339787" y1="7.229358" xlink:href="#linearGradient2245" x2="34.784473" x1="8.611624" id="linearGradient2251" gradientUnits="userSpaceOnUse" gradientTransform="matrix(14.643322,0,0,11.470649,-77.726663,111.86436)"/>
  <linearGradient id="linearGradient2675">
   <stop stop-color="#204a87" offset="0" id="stop2677"/>
   <stop stop-color="#2e3436" offset="1" id="stop2679"/>
  </linearGradient>
  <linearGradient y2="8.866623" y1="32.622238" xlink:href="#linearGradient2675" x2="16.315819" x1="19.150396" id="linearGradient2681" gradientUnits="userSpaceOnUse" gradientTransform="matrix(15.21715,0,0,12.253034,-47.311129,111.51249)"/>
  <linearGradient id="linearGradient2683">
   <stop stop-color="#000000" offset="0" id="stop2685"/>
   <stop stop-color="#000000" stop-opacity="0" offset="1" id="stop2687"/>
  </linearGradient>
  <linearGradient y2="162.45061" y1="171.29134" xlink:href="#linearGradient2683" x2="3.706997" x1="3.706998" id="linearGradient2689" gradientUnits="userSpaceOnUse" gradientTransform="matrix(73.940361,0,0,2.2716749,-43.705973,119.96452)"/>
  <linearGradient id="linearGradient2415">
   <stop stop-color="#ffffff" offset="0" id="stop2417"/>
   <stop stop-color="#ffffff" stop-opacity="0" offset="1" id="stop2419"/>
  </linearGradient>
  <linearGradient y2="55.200756" y1="13.004725" xlink:href="#linearGradient2415" x2="34.974548" x1="17.698339" id="linearGradient2421" gradientUnits="userSpaceOnUse" gradientTransform="matrix(14.360866,0,0,11.696262,-43.705973,141.7296)"/>
  <linearGradient id="linearGradient2667">
   <stop stop-color="#ffffff" offset="0" id="stop2669"/>
   <stop stop-color="#fcfcff" stop-opacity="0" offset="1" id="stop2671"/>
  </linearGradient>
  <linearGradient y2="26.729263" y1="1.653758" xlink:href="#linearGradient2667" x2="17.199417" x1="11.492236" id="linearGradient2673" gradientUnits="userSpaceOnUse" gradientTransform="matrix(16.057468,0,0,11.611812,-49.01242,111.51248)"/>
  <radialGradient xlink:href="#linearGradient2454" r="8.766279" id="radialGradient2659" gradientUnits="userSpaceOnUse" gradientTransform="scale(1.925808,0.519262)" fy="67.501709" fx="12.57571" cy="67.501709" cx="12.57571"/>
  <linearGradient id="linearGradient2253">
   <stop stop-color="#888a85" offset="0" id="stop2255"/>
   <stop stop-color="#555753" offset="1" id="stop2257"/>
  </linearGradient>
  <linearGradient y2="31.246054" y1="5.381774" xlink:href="#linearGradient2253" x2="32.536823" x1="10.390738" id="linearGradient1413" gradientUnits="userSpaceOnUse" gradientTransform="matrix(14.313276,0,0,11.735142,-56.666236,128.76934)"/>
  <linearGradient id="linearGradient2245">
   <stop stop-color="#d3d7cf" offset="0" id="stop2247"/>
   <stop stop-color="#babdb6" offset="1" id="stop2249"/>
  </linearGradient>
  <linearGradient y2="52.536461" y1="48.643234" xlink:href="#linearGradient2245" x2="18.176752" x1="18.316999" id="linearGradient2981" gradientUnits="userSpaceOnUse" gradientTransform="matrix(14.643322,0,0,11.470649,-56.666236,128.76934)"/>
  <linearGradient y2="100.20015" y1="88.509071" xlink:href="#linearGradient3061" x2="8.113423" x1="8.113424" id="linearGradient1411" gradientUnits="userSpaceOnUse" gradientTransform="matrix(29.936276,0,0,5.6108607,-56.666233,128.76933)"/>
  <linearGradient y2="100.20015" y1="88.509071" xlink:href="#linearGradient3061" x2="8.113423" x1="8.113424" id="linearGradient1409" gradientUnits="userSpaceOnUse" gradientTransform="matrix(29.936276,0,0,5.6108607,-56.666233,128.76933)"/>
  <linearGradient id="linearGradient2635">
   <stop stop-color="#f9fff5" offset="0" id="stop2637"/>
   <stop stop-color="#f9fff5" stop-opacity="0" offset="1" id="stop2639"/>
  </linearGradient>
  <linearGradient y2="74.098007" y1="101.2846" xlink:href="#linearGradient2635" x2="8.648501" x1="13.62871" id="linearGradient2741" gradientUnits="userSpaceOnUse" gradientTransform="matrix(27.78206,0,0,6.0459368,-43.705973,122.1749)"/>
  <linearGradient y2="3.84511" y1="3.938409" xlink:href="#linearGradient2711" x2="35.520542" x1="34.300991" id="linearGradient2717" gradientUnits="userSpaceOnUse"/>
  <linearGradient y2="3.84511" y1="3.938409" xlink:href="#linearGradient2711" x2="35.520542" x1="34.300991" id="linearGradient2721" gradientUnits="userSpaceOnUse"/>
  <linearGradient y2="3.84511" y1="3.938409" xlink:href="#linearGradient2711" x2="35.520542" x1="34.300991" id="linearGradient2725" gradientUnits="userSpaceOnUse"/>
  <linearGradient y2="3.84511" y1="3.938409" xlink:href="#linearGradient2711" x2="35.520542" x1="34.300991" id="linearGradient2729" gradientUnits="userSpaceOnUse"/>
  <linearGradient id="linearGradient2711">
   <stop stop-color="#888a85" offset="0" id="stop2713"/>
   <stop stop-color="#babdb6" stop-opacity="0" offset="1" id="stop2715"/>
  </linearGradient>
  <linearGradient y2="3.84511" y1="3.938409" xlink:href="#linearGradient2711" x2="35.520542" x1="34.300991" id="linearGradient2733" gradientUnits="userSpaceOnUse"/>
  <linearGradient id="linearGradient2454">
   <stop stop-color="#000000" offset="0" id="stop2456"/>
   <stop stop-color="#000000" stop-opacity="0" offset="1" id="stop2458"/>
  </linearGradient>
  <radialGradient xlink:href="#linearGradient2454" r="8.766279" id="radialGradient2460" gradientUnits="userSpaceOnUse" gradientTransform="scale(1.925808,0.519262)" fy="67.501709" fx="12.57571" cy="67.501709" cx="12.57571"/>
  <linearGradient id="linearGradient9845">
   <stop stop-color="#ffffff" offset="0" id="stop9847"/>
   <stop stop-color="#ffffff" stop-opacity="0.494845" offset="1" id="stop9849"/>
  </linearGradient>
  <linearGradient id="linearGradient11327">
   <stop stop-color="#7d6400" offset="0" id="stop11329"/>
   <stop stop-color="#be9700" offset="1" id="stop11331"/>
  </linearGradient>
  <linearGradient id="linearGradient2092">
   <stop stop-color="#fff7b0" offset="0" id="stop2094"/>
   <stop stop-color="#ffec41" offset="0.21" id="stop27163"/>
   <stop stop-color="#e2cc00" offset="0.84" id="stop2293"/>
   <stop stop-color="#c3af00" offset="1" id="stop2100"/>
  </linearGradient>
  <linearGradient id="linearGradient11335">
   <stop stop-color="#6f716d" offset="0" id="stop11337"/>
   <stop stop-color="#9ea09c" offset="1" id="stop11339"/>
  </linearGradient>
  <linearGradient id="linearGradient10591">
   <stop stop-color="#cad0c6" offset="0" id="stop10593"/>
   <stop stop-color="#eaece9" offset="0.5" id="stop10599"/>
   <stop stop-color="#c5cbc0" offset="1" id="stop10595"/>
  </linearGradient>
  <linearGradient id="linearGradient11494">
   <stop stop-color="#729fcf" offset="0" id="stop11496"/>
   <stop stop-color="#204a87" stop-opacity="0" offset="1" id="stop11498"/>
  </linearGradient>
  <linearGradient id="linearGradient11520">
   <stop stop-color="#ffffff" offset="0" id="stop11522"/>
   <stop stop-color="#dcdcdc" offset="1" id="stop11524"/>
  </linearGradient>
  <radialGradient xlink:href="#linearGradient11520" r="20.530962" id="radialGradient1366" gradientUnits="userSpaceOnUse" gradientTransform="matrix(35.895002,0,0,35.895002,-502.54107,-556.8092)" fy="35.87817" fx="24.44569" cy="35.87817" cx="24.44569"/>
  <radialGradient xlink:href="#linearGradient5060" r="117.14286" id="radialGradient6719" gradientUnits="userSpaceOnUse" gradientTransform="matrix(-2.774389,0,0,1.969706,112.7623,-872.8854)" fy="486.64789" fx="605.71429" cy="486.64789" cx="605.71429"/>
  <radialGradient xlink:href="#linearGradient5060" r="117.14286" id="radialGradient6717" gradientUnits="userSpaceOnUse" gradientTransform="matrix(2.774389,0,0,1.969706,-1891.633,-872.8854)" fy="486.64789" fx="605.71429" cy="486.64789" cx="605.71429"/>
  <linearGradient y2="609.50507" y1="366.64789" xlink:href="#linearGradient5048" x2="302.85715" x1="302.85715" id="linearGradient6715" gradientUnits="userSpaceOnUse" gradientTransform="matrix(2.774389,0,0,1.969706,-1892.179,-872.8854)"/>
  <linearGradient id="linearGradient4747">
   <stop stop-color="#16d277" offset="0" id="stop4749"/>
   <stop stop-color="#069a4a" offset="1" id="stop4751"/>
  </linearGradient>
  <linearGradient id="linearGradient4741">
   <stop stop-color="#16d2c3" offset="0" id="stop4743"/>
   <stop stop-color="#069a92" offset="1" id="stop4745"/>
  </linearGradient>
  <linearGradient id="linearGradient8650">
   <stop stop-color="#ffffff" offset="0" id="stop8652"/>
   <stop stop-color="#ffffff" stop-opacity="0" offset="1" id="stop8654"/>
  </linearGradient>
  <linearGradient id="linearGradient2304">
   <stop stop-color="#73d216" offset="0" id="stop2306"/>
   <stop stop-color="#4e9a06" offset="1" id="stop2308"/>
  </linearGradient>
  <linearGradient id="linearGradient1789">
   <stop stop-color="#a0a0a0" offset="0" id="stop1790"/>
   <stop stop-color="#a8a8a8" offset="1" id="stop1791"/>
  </linearGradient>
  <linearGradient id="linearGradient137">
   <stop stop-color="#ffffff" stop-opacity="0.700599" offset="0" id="stop138"/>
   <stop stop-color="#ffffff" stop-opacity="0" offset="1" id="stop139"/>
  </linearGradient>
  <linearGradient id="linearGradient9766">
   <stop stop-color="#6194cb" offset="0" id="stop9768"/>
   <stop stop-color="#729fcf" offset="1" id="stop9770"/>
  </linearGradient>
  <linearGradient id="linearGradient148">
   <stop stop-color="#ffffff" stop-opacity="0.134021" offset="0" id="stop149"/>
   <stop stop-color="#ffffff" stop-opacity="0.051546" offset="1" id="stop150"/>
  </linearGradient>
  <linearGradient id="linearGradient335">
   <stop stop-color="#ffffff" offset="0" id="stop336"/>
   <stop stop-color="#ffffff" stop-opacity="0" offset="1" id="stop337"/>
  </linearGradient>
  <linearGradient y2="84.287079" y1="93.338043" xlink:href="#linearGradient2803" x2="10.219901" x1="10.496115" id="linearGradient2813" gradientUnits="userSpaceOnUse" gradientTransform="matrix(39.086521,0,0,7.6340894,-33.337669,99.207026)"/>
  <linearGradient y2="22.132999" y1="22.132999" xlink:href="#linearGradient2094" x2="14.511404" x1="6.587181" id="linearGradient2100" gradientUnits="userSpaceOnUse" gradientTransform="matrix(16.544137,0,0,17.757444,-33.337669,104.44258)"/>
  <linearGradient y2="4.953005" y1="4.953005" xlink:href="#linearGradient2795" x2="41.219128" x1="35.433035" id="linearGradient2801" gradientUnits="userSpaceOnUse" gradientTransform="matrix(4.3875865,0,0,64.946869,-32.890582,116.9616)"/>
  <linearGradient id="linearGradient2116">
   <stop stop-color="#ffffff" offset="0" id="stop2118"/>
   <stop stop-color="#ffffff" stop-opacity="0" offset="1" id="stop2120"/>
  </linearGradient>
  <linearGradient y2="21.270376" y1="26.652197" xlink:href="#linearGradient2116" x2="-2.75829" x1="73.361984" id="linearGradient2112" gradientUnits="userSpaceOnUse" gradientTransform="matrix(17.713207,0,0,16.536418,-50.611543,100.38611)"/>
  <radialGradient xlink:href="#linearGradient12512" r="14.375" id="radialGradient278" gradientUnits="userSpaceOnUse" fy="125" fx="55" cy="125" cx="55"/>
  <linearGradient id="linearGradient4228">
   <stop stop-color="#bbbbbb" offset="0" id="stop4230"/>
   <stop stop-color="#9f9f9f" offset="1" id="stop4232"/>
  </linearGradient>
  <linearGradient id="linearGradient4244">
   <stop stop-color="#e4e4e4" offset="0" id="stop4246"/>
   <stop stop-color="#d3d3d3" offset="1" id="stop4248"/>
  </linearGradient>
  <linearGradient id="linearGradient4184">
   <stop stop-color="#838383" offset="0" id="stop4186"/>
   <stop stop-color="#bbbbbb" stop-opacity="0" offset="1" id="stop4188"/>
  </linearGradient>
  <linearGradient id="linearGradient4274">
   <stop stop-color="#ffffff" stop-opacity="0.254902" offset="0" id="stop4276"/>
   <stop stop-color="#ffffff" offset="1" id="stop4278"/>
  </linearGradient>
  <linearGradient id="linearGradient2555">
   <stop stop-color="#ffffff" offset="0" id="stop2557"/>
   <stop stop-color="#e6e6e6" offset="0.5" id="stop2561"/>
   <stop stop-color="#ffffff" offset="0.75" id="stop2563"/>
   <stop stop-color="#e1e1e1" offset="0.841667" id="stop2565"/>
   <stop stop-color="#ffffff" offset="1" id="stop2559"/>
  </linearGradient>
  <linearGradient id="linearGradient12582">
   <stop stop-color="#d23d21" offset="0" id="stop12584"/>
   <stop stop-color="#e9ca23" offset="0.257091" id="stop12586"/>
   <stop stop-color="#e98d47" offset="0.565599" id="stop12588"/>
   <stop stop-color="#e9c33e" offset="1" id="stop12590"/>
  </linearGradient>
  <linearGradient id="linearGradient2877">
   <stop stop-color="#75507b" offset="0" id="stop2879"/>
   <stop stop-color="#a984af" offset="0.257091" id="stop2885"/>
   <stop stop-color="#513755" offset="0.565599" id="stop2887"/>
   <stop stop-color="#875c8e" offset="1" id="stop2881"/>
  </linearGradient>
  <linearGradient id="linearGradient2865">
   <stop stop-color="#73d216" offset="0" id="stop2867"/>
   <stop stop-color="#9ced4b" offset="0.255682" id="stop11581"/>
   <stop stop-color="#64b813" offset="0.594008" id="stop11583"/>
   <stop stop-color="#8eea34" offset="1" id="stop2869"/>
  </linearGradient>
  <linearGradient id="linearGradient2913">
   <stop stop-color="white" stop-opacity="0.438776" offset="0" id="stop2915"/>
   <stop stop-color="white" offset="0.5" id="stop2921"/>
   <stop stop-color="white" stop-opacity="0" offset="1" id="stop2917"/>
  </linearGradient>
  <linearGradient id="linearGradient6932">
   <stop stop-color="#ffffff" offset="0" id="stop6934"/>
   <stop stop-color="#aeb2e7" offset="1" id="stop6936"/>
  </linearGradient>
  <linearGradient id="linearGradient4162">
   <stop stop-color="#f79403" offset="0" id="stop4164"/>
   <stop stop-color="#fdb343" offset="0.186916" id="stop4170"/>
   <stop stop-color="#fdb74f" offset="0.430081" id="stop4172"/>
   <stop stop-color="#8f5601" offset="1" id="stop4166"/>
  </linearGradient>
  <linearGradient id="linearGradient4206">
   <stop stop-color="#010f7d" offset="0" id="stop4208"/>
   <stop stop-color="#5669c4" offset="1" id="stop4210"/>
  </linearGradient>
  <linearGradient id="linearGradient4134">
   <stop stop-color="#7e807a" offset="0" id="stop4136"/>
   <stop stop-color="#babbb8" offset="0.25" id="stop4148"/>
   <stop stop-color="#a5a6a3" offset="0.5" id="stop4142"/>
   <stop stop-color="#333432" offset="1" id="stop4138"/>
  </linearGradient>
  <linearGradient id="linearGradient4126">
   <stop stop-color="#ffffff" offset="0" id="stop4128"/>
   <stop stop-color="#ffffff" stop-opacity="0.164948" offset="1" id="stop4130"/>
  </linearGradient>
  <radialGradient xlink:href="#linearGradient4750" r="40.692665" id="radialGradient1558" gradientUnits="userSpaceOnUse" gradientTransform="scale(1.036822,0.964486)" fy="17.810213" fx="18.934305" cy="17.486208" cx="18.63378"/>
  <radialGradient xlink:href="#linearGradient4750" r="40.692665" id="radialGradient1554" gradientUnits="userSpaceOnUse" gradientTransform="scale(1.036822,0.964486)" fy="17.810213" fx="18.934305" cy="17.486208" cx="18.63378"/>
  <radialGradient xlink:href="#linearGradient4750" r="40.692665" id="radialGradient1550" gradientUnits="userSpaceOnUse" gradientTransform="scale(1.036822,0.964486)" fy="17.810213" fx="18.934305" cy="17.486208" cx="18.63378"/>
  <radialGradient xlink:href="#linearGradient4750" r="40.692665" id="radialGradient1546" gradientUnits="userSpaceOnUse" gradientTransform="scale(1.036822,0.964486)" fy="17.810213" fx="18.934305" cy="17.486208" cx="18.63378"/>
  <radialGradient xlink:href="#linearGradient4750" r="40.692665" id="radialGradient1542" gradientUnits="userSpaceOnUse" gradientTransform="scale(1.036822,0.964486)" fy="17.810213" fx="18.934305" cy="17.486208" cx="18.63378"/>
  <radialGradient xlink:href="#linearGradient4750" r="40.692665" id="radialGradient1538" gradientUnits="userSpaceOnUse" gradientTransform="scale(1.036822,0.964486)" fy="17.810213" fx="18.934305" cy="17.486208" cx="18.63378"/>
  <radialGradient xlink:href="#linearGradient4750" r="40.692665" id="radialGradient1536" gradientUnits="userSpaceOnUse" gradientTransform="scale(1.036822,0.964486)" fy="17.810213" fx="18.934305" cy="17.486208" cx="18.63378"/>
  <radialGradient xlink:href="#linearGradient4750" r="40.692665" id="radialGradient1532" gradientUnits="userSpaceOnUse" gradientTransform="scale(1.036822,0.964486)" fy="17.810213" fx="18.934305" cy="17.486208" cx="18.63378"/>
  <radialGradient xlink:href="#linearGradient4750" r="40.692665" id="radialGradient1528" gradientUnits="userSpaceOnUse" gradientTransform="scale(1.036822,0.964486)" fy="17.810213" fx="18.934305" cy="17.486208" cx="18.63378"/>
  <radialGradient xlink:href="#linearGradient4750" r="40.692665" id="radialGradient1526" gradientUnits="userSpaceOnUse" gradientTransform="scale(1.036822,0.964486)" fy="17.810213" fx="18.934305" cy="17.486208" cx="18.63378"/>
  <radialGradient xlink:href="#linearGradient4750" r="40.692665" id="radialGradient1522" gradientUnits="userSpaceOnUse" gradientTransform="scale(1.036822,0.964486)" fy="17.810213" fx="18.934305" cy="17.486208" cx="18.63378"/>
  <radialGradient xlink:href="#linearGradient4750" r="40.692665" id="radialGradient1518" gradientUnits="userSpaceOnUse" gradientTransform="scale(1.036822,0.964486)" fy="17.810213" fx="18.934305" cy="17.486208" cx="18.63378"/>
  <radialGradient xlink:href="#linearGradient4750" r="40.692665" id="radialGradient1514" gradientUnits="userSpaceOnUse" gradientTransform="scale(1.036822,0.964486)" fy="17.810213" fx="18.934305" cy="17.486208" cx="18.63378"/>
  <radialGradient xlink:href="#linearGradient4750" r="40.692665" id="radialGradient1510" gradientUnits="userSpaceOnUse" gradientTransform="scale(1.036822,0.964486)" fy="17.810213" fx="18.934305" cy="17.486208" cx="18.63378"/>
  <radialGradient xlink:href="#linearGradient4750" r="40.692665" id="radialGradient1506" gradientUnits="userSpaceOnUse" gradientTransform="scale(1.036822,0.964486)" fy="17.810213" fx="18.934305" cy="17.486208" cx="18.63378"/>
  <radialGradient xlink:href="#linearGradient4750" r="40.692665" id="radialGradient1502" gradientUnits="userSpaceOnUse" gradientTransform="scale(1.036822,0.964486)" fy="17.810213" fx="18.934305" cy="17.486208" cx="18.63378"/>
  <radialGradient xlink:href="#linearGradient4750" r="40.692665" id="radialGradient1498" gradientUnits="userSpaceOnUse" gradientTransform="scale(1.036822,0.964486)" fy="17.810213" fx="18.934305" cy="17.486208" cx="18.63378"/>
  <radialGradient xlink:href="#linearGradient4750" r="40.692665" id="radialGradient1494" gradientUnits="userSpaceOnUse" gradientTransform="scale(1.036822,0.964486)" fy="17.810213" fx="18.934305" cy="17.486208" cx="18.63378"/>
  <radialGradient xlink:href="#linearGradient4750" r="40.692665" id="radialGradient1490" gradientUnits="userSpaceOnUse" gradientTransform="scale(1.036822,0.964486)" fy="17.810213" fx="18.934305" cy="17.486208" cx="18.63378"/>
  <radialGradient xlink:href="#linearGradient4750" r="40.692665" id="radialGradient1486" gradientUnits="userSpaceOnUse" gradientTransform="scale(1.036822,0.964486)" fy="17.810213" fx="18.934305" cy="17.486208" cx="18.63378"/>
  <radialGradient xlink:href="#linearGradient4750" r="40.692665" id="radialGradient1482" gradientUnits="userSpaceOnUse" gradientTransform="scale(1.036822,0.964486)" fy="17.810213" fx="18.934305" cy="17.486208" cx="18.63378"/>
  <radialGradient xlink:href="#linearGradient4750" r="40.692665" id="radialGradient1478" gradientUnits="userSpaceOnUse" gradientTransform="scale(1.036822,0.964486)" fy="17.810213" fx="18.934305" cy="17.486208" cx="18.63378"/>
  <radialGradient xlink:href="#linearGradient4750" r="40.692665" id="radialGradient1474" gradientUnits="userSpaceOnUse" gradientTransform="scale(1.036822,0.964486)" fy="17.810213" fx="18.934305" cy="17.486208" cx="18.63378"/>
  <radialGradient xlink:href="#linearGradient4750" r="40.692665" id="radialGradient1470" gradientUnits="userSpaceOnUse" gradientTransform="scale(1.036822,0.964486)" fy="17.810213" fx="18.934305" cy="17.486208" cx="18.63378"/>
  <radialGradient xlink:href="#linearGradient4750" r="40.692665" id="radialGradient1466" gradientUnits="userSpaceOnUse" gradientTransform="scale(1.036822,0.964486)" fy="17.810213" fx="18.934305" cy="17.486208" cx="18.63378"/>
  <radialGradient xlink:href="#linearGradient4750" r="40.692665" id="radialGradient1462" gradientUnits="userSpaceOnUse" gradientTransform="scale(1.036822,0.964486)" fy="17.810213" fx="18.934305" cy="17.486208" cx="18.63378"/>
  <linearGradient id="linearGradient4750">
   <stop stop-color="#ffffff" offset="0" id="stop4752"/>
   <stop stop-color="#fefefe" offset="0.37931" id="stop4758"/>
   <stop stop-color="#1d1d1d" offset="1" id="stop4754"/>
  </linearGradient>
  <radialGradient xlink:href="#linearGradient4750" r="40.692665" id="radialGradient1460" gradientUnits="userSpaceOnUse" gradientTransform="scale(1.036822,0.964486)" fy="17.810213" fx="18.934305" cy="17.486208" cx="18.63378"/>
  <linearGradient id="linearGradient3962">
   <stop stop-color="#d3e9ff" offset="0" id="stop3964"/>
   <stop stop-color="#d3e9ff" offset="0.155172" id="stop4134"/>
   <stop stop-color="#4074ae" offset="0.75" id="stop4346"/>
   <stop stop-color="#36486c" offset="1" id="stop3966"/>
  </linearGradient>
  <linearGradient id="linearGradient2265">
   <stop stop-color="#000000" offset="0" id="stop2267"/>
   <stop stop-color="#000000" stop-opacity="0" offset="1" id="stop2269"/>
  </linearGradient>
  <linearGradient y2="38.268368" y1="36.942543" xlink:href="#linearGradient2265" x2="15.415793" x1="14.017542" id="linearGradient2271" gradientUnits="userSpaceOnUse" gradientTransform="matrix(0.878099,-1.73237e-2,1.73237e-2,0.878099,1021.3138,469.27875)"/>
  <linearGradient id="linearGradient2257">
   <stop stop-color="#ffffff" offset="0" id="stop2259"/>
   <stop stop-color="#ffffff" stop-opacity="0" offset="1" id="stop2261"/>
  </linearGradient>
  <linearGradient y2="33.194965" y1="35.688461" xlink:href="#linearGradient2257" x2="10.650805" x1="12.004697" id="linearGradient2263" gradientUnits="userSpaceOnUse" gradientTransform="matrix(1.007254,-2.636526e-2,2.636526e-2,1.007254,1020.7435,465.29004)"/>
  <linearGradient id="linearGradient3087">
   <stop stop-color="#3465a4" offset="0" id="stop3089"/>
   <stop stop-color="#729fcf" offset="0" id="stop3095"/>
   <stop stop-color="#3465a4" offset="0" id="stop3091"/>
  </linearGradient>
  <linearGradient y2="39.443218" y1="32.28376" xlink:href="#linearGradient3087" x2="16.915297" x1="9.750324" id="linearGradient3093" gradientUnits="userSpaceOnUse" gradientTransform="matrix(0.87827,0,0,0.87827,1021.6871,470.17853)"/>
  <linearGradient id="linearGradient2250">
   <stop stop-color="#ffffff" offset="0" id="stop2252"/>
   <stop stop-color="#ffffff" stop-opacity="0" offset="1" id="stop2254"/>
  </linearGradient>
  <linearGradient y2="9.656854" y1="19.821514" xlink:href="#linearGradient2250" x2="40.859177" x1="31.177404" id="linearGradient2256" gradientUnits="userSpaceOnUse" gradientTransform="translate(1019.1501,465.21085)"/>
  <linearGradient id="linearGradient3077">
   <stop stop-color="#98a0a9" offset="0" id="stop3079"/>
   <stop stop-color="#c3d0dd" offset="1" id="stop3081"/>
  </linearGradient>
  <linearGradient y2="6.62859" y1="13.602527" xlink:href="#linearGradient3077" x2="37.53537" x1="38.227654" id="linearGradient3083" gradientUnits="userSpaceOnUse" gradientTransform="matrix(0.87827,0,0,0.87827,1021.9976,470.79956)"/>
  <linearGradient id="linearGradient3061">
   <stop stop-color="#ffffff" offset="0" id="stop3063"/>
   <stop stop-color="#000000" offset="1" id="stop3065"/>
  </linearGradient>
  <linearGradient y2="-4.300265" y1="-3.632448" xlink:href="#linearGradient3061" x2="25.291086" x1="50.152931" id="linearGradient3067" gradientUnits="userSpaceOnUse" gradientTransform="matrix(0.8782699,0,0,0.8782699,1049.7965,-403.53398)"/>
  <linearGradient id="linearGradient3049">
   <stop stop-color="#b6b6b6" offset="0" id="stop3051"/>
   <stop stop-color="#f2f2f2" offset="0.5" id="stop2262"/>
   <stop stop-color="#fafafa" offset="0.67613" id="stop2264"/>
   <stop stop-color="#d8d8d8" offset="0.840517" id="stop2268"/>
   <stop stop-color="#f2f2f2" offset="0.875" id="stop2266"/>
   <stop stop-color="#dbdbdb" offset="1" id="stop3053"/>
  </linearGradient>
  <linearGradient y2="6.775803" y1="42.253601" xlink:href="#linearGradient3049" x2="20.631224" x1="19.648342" id="linearGradient3055" gradientUnits="userSpaceOnUse" gradientTransform="matrix(0.87827,0,0,0.87827,1021.6871,470.17853)"/>
  <radialGradient xlink:href="#linearGradient3041" r="17.6875" id="radialGradient3047" gradientUnits="userSpaceOnUse" gradientTransform="matrix(1,0,0,0.374558,0,24.47041)" fy="39.125" fx="24.8125" cy="39.125" cx="24.8125"/>
  <linearGradient id="linearGradient3041">
   <stop stop-color="#000000" offset="0" id="stop3043"/>
   <stop stop-color="#000000" stop-opacity="0" offset="1" id="stop3045"/>
  </linearGradient>
  <radialGradient xlink:href="#linearGradient3041" r="17.6875" id="radialGradient2260" gradientUnits="userSpaceOnUse" gradientTransform="matrix(1,0,0,0.374558,0,24.47041)" fy="39.125" fx="24.8125" cy="39.125" cx="24.8125"/>
  <linearGradient y2="425.06561" y1="733.39258" x2="411.3941" x1="43.944302" id="SVGID_1_" gradientUnits="userSpaceOnUse" gradientTransform="translate(131.91072,132.23618)">
   <stop stop-color="#003F90" offset="0.0562" id="stop2170"/>
   <stop stop-color="#0093D2" offset="0.5674" id="stop2172"/>
   <stop stop-color="#EDF3F7" offset="0.9551" id="stop2174"/>
  </linearGradient>
  <linearGradient y2="425.06561" y1="733.39258" x2="411.39359" x1="43.943802" id="SVGID_2_" gradientUnits="userSpaceOnUse" gradientTransform="matrix(0.9169564,0,0,0.9120098,60.201795,153.71221)">
   <stop stop-color="#525252" offset="0.0562" id="stop2179"/>
   <stop stop-color="#8e8e8e" offset="0.5674" id="stop2181"/>
   <stop stop-color="#c9c9c9" offset="0.9551" id="stop2183"/>
  </linearGradient>
  <radialGradient xlink:href="#linearGradient5060" r="117.14286" id="radialGradient5020" gradientUnits="userSpaceOnUse" gradientTransform="matrix(-2.774389,0,0,1.969706,112.7623,-872.8854)" fy="486.64789" fx="605.71429" cy="486.64789" cx="605.71429"/>
  <linearGradient y2="609.50507" y1="366.64789" xlink:href="#linearGradient5048" x2="302.85715" x1="302.85715" id="linearGradient5016" gradientUnits="userSpaceOnUse" gradientTransform="matrix(2.774389,0,0,1.969706,-1892.179,-872.8854)"/>
  <radialGradient xlink:href="#linearGradient5060" r="117.14286" id="radialGradient5013" gradientUnits="userSpaceOnUse" gradientTransform="matrix(2.774389,0,0,1.969706,-1891.633,-872.8854)" fy="486.64789" fx="605.71429" cy="486.64789" cx="605.71429"/>
  <linearGradient id="linearGradient2795">
   <stop stop-color="#000000" stop-opacity="0.068627" offset="0" id="stop2797"/>
   <stop stop-color="#ffffff" offset="1" id="stop2799"/>
  </linearGradient>
  <linearGradient id="linearGradient2803">
   <stop stop-color="#ffffff" offset="0" id="stop2805"/>
   <stop stop-color="#cbcbcb" offset="1" id="stop2807"/>
  </linearGradient>
  <linearGradient id="linearGradient2094">
   <stop stop-color="#d6e3f0" offset="0" id="stop2096"/>
   <stop stop-color="#95b1cf" offset="1" id="stop2098"/>
  </linearGradient>
  <linearGradient id="linearGradient12512">
   <stop stop-color="#eeebc9" offset="0" id="stop12513"/>
   <stop stop-color="#ffd420" offset="1" id="stop12517"/>
   <stop stop-color="#ffec00" offset="1" id="stop12514"/>
  </linearGradient>
  <linearGradient id="linearGradient5048">
   <stop stop-color="black" stop-opacity="0" offset="0" id="stop5050"/>
   <stop stop-color="black" offset="0.5" id="stop5056"/>
   <stop stop-color="black" stop-opacity="0" offset="1" id="stop5052"/>
  </linearGradient>
  <linearGradient id="linearGradient5060">
   <stop stop-color="black" offset="0" id="stop5062"/>
   <stop stop-color="black" stop-opacity="0" offset="1" id="stop5064"/>
  </linearGradient>
  <linearGradient id="linearGradient2994">
   <stop stop-color="#000000" offset="0" id="stop2996"/>
   <stop stop-color="#c9c9c9" offset="1" id="stop2998"/>
  </linearGradient>
  <linearGradient id="linearGradient2974">
   <stop stop-color="#c1c1c1" offset="0" id="stop2976"/>
   <stop stop-color="#acacac" offset="1" id="stop2978"/>
  </linearGradient>
  <linearGradient id="linearGradient2966">
   <stop stop-color="#ffd1d1" offset="0" id="stop2968"/>
   <stop stop-color="#ff1d1d" offset="0.5" id="stop3006"/>
   <stop stop-color="#6f0000" offset="1" id="stop2970"/>
  </linearGradient>
  <linearGradient id="linearGradient2846">
   <stop stop-color="#8a8a8a" offset="0" id="stop2848"/>
   <stop stop-color="#484848" offset="1" id="stop2850"/>
  </linearGradient>
  <linearGradient id="linearGradient2366">
   <stop stop-color="#ffffff" offset="0" id="stop2368"/>
   <stop stop-color="#ffffff" stop-opacity="0.219048" offset="0.5" id="stop2374"/>
   <stop stop-color="#ffffff" offset="1" id="stop2370"/>
  </linearGradient>
  <linearGradient id="linearGradient4467">
   <stop stop-color="#ffffff" offset="0" id="stop4469"/>
   <stop stop-color="#ffffff" stop-opacity="0.247619" offset="1" id="stop4471"/>
  </linearGradient>
  <linearGradient id="linearGradient4454">
   <stop stop-color="#729fcf" stop-opacity="0.207843" offset="0" id="stop4456"/>
   <stop stop-color="#729fcf" stop-opacity="0.676191" offset="1" id="stop4458"/>
  </linearGradient>
  <linearGradient id="linearGradient4440">
   <stop stop-color="#7d7d7d" offset="0" id="stop4442"/>
   <stop stop-color="#b1b1b1" offset="0.5" id="stop4448"/>
   <stop stop-color="#686868" offset="1" id="stop4444"/>
  </linearGradient>
  <radialGradient xlink:href="#linearGradient4542" r="15.821514" id="radialGradient4548" gradientUnits="userSpaceOnUse" gradientTransform="matrix(1.000000,0.000000,0.000000,0.284916,0.000000,30.08928)" fy="42.07798" fx="24.306795" cy="42.07798" cx="24.306795"/>
  <linearGradient id="linearGradient259">
   <stop stop-color="#fafafa" offset="0" id="stop260"/>
   <stop stop-color="#bbbbbb" offset="1" id="stop261"/>
  </linearGradient>
  <linearGradient id="linearGradient269">
   <stop stop-color="#a3a3a3" offset="0" id="stop270"/>
   <stop stop-color="#4c4c4c" offset="1" id="stop271"/>
  </linearGradient>
  <radialGradient r="5.256" id="aigrd2" gradientUnits="userSpaceOnUse" fy="114.5684" fx="20.8921" cy="114.5684" cx="20.8921">
   <stop stop-color="#F0F0F0" offset="0" id="stop15566"/>
   <stop stop-color="#9a9a9a" offset="1" id="stop15568"/>
  </radialGradient>
  <radialGradient r="5.257" id="aigrd3" gradientUnits="userSpaceOnUse" fy="64.5679" fx="20.8921" cy="64.5679" cx="20.8921">
   <stop stop-color="#F0F0F0" offset="0" id="stop15573"/>
   <stop stop-color="#9a9a9a" offset="1" id="stop15575"/>
  </radialGradient>
  <linearGradient id="linearGradient15662">
   <stop stop-color="#ffffff" offset="0" id="stop15664"/>
   <stop stop-color="#f8f8f8" offset="1" id="stop15666"/>
  </linearGradient>
  <linearGradient id="linearGradient4542">
   <stop stop-color="#000000" offset="0" id="stop4544"/>
   <stop stop-color="#000000" stop-opacity="0" offset="1" id="stop4546"/>
  </linearGradient>
  <linearGradient y2="609.50507" y1="366.64789" xlink:href="#linearGradient5048" x2="302.85715" x1="302.85715" id="linearGradient2659" gradientUnits="userSpaceOnUse" gradientTransform="matrix(2.774389,0,0,1.969706,-1892.179,-872.8854)"/>
  <linearGradient id="linearGradient2651">
   <stop stop-color="black" stop-opacity="0" offset="0" id="stop2653"/>
   <stop stop-color="black" offset="0.5" id="stop2655"/>
   <stop stop-color="black" stop-opacity="0" offset="1" id="stop2657"/>
  </linearGradient>
  <radialGradient xlink:href="#linearGradient5060" r="117.14286" id="radialGradient2649" gradientUnits="userSpaceOnUse" gradientTransform="matrix(2.774389,0,0,1.969706,-1891.633,-872.8854)" fy="486.64789" fx="605.71429" cy="486.64789" cx="605.71429"/>
  <radialGradient xlink:href="#linearGradient5060" r="117.14286" id="radialGradient2641" gradientUnits="userSpaceOnUse" gradientTransform="matrix(-2.774389,0,0,1.969706,112.7623,-872.8854)" fy="486.64789" fx="605.71429" cy="486.64789" cx="605.71429"/>
  <linearGradient y2="26.649362" y1="23.667896" xlink:href="#linearGradient2402" x2="53.588622" x1="18.935766" id="linearGradient2408" gradientUnits="userSpaceOnUse"/>
  <linearGradient y2="20.60858" y1="36.061237" xlink:href="#linearGradient2380" x2="15.984863" x1="62.513836" id="linearGradient2386" gradientUnits="userSpaceOnUse"/>
  <linearGradient y2="50.939667" y1="45.264122" xlink:href="#linearGradient2871" x2="45.380436" x1="46.834816" id="linearGradient1501" gradientUnits="userSpaceOnUse"/>
  <linearGradient id="linearGradient2831">
   <stop stop-color="#1d5e23" offset="0" id="stop2833"/>
   <stop stop-color="#329652" offset="0.333333" id="stop2855"/>
   <stop stop-color="#83d8ab" stop-opacity="0" offset="1" id="stop2835"/>
  </linearGradient>
  <linearGradient id="linearGradient2871">
   <stop stop-color="#3465a4" offset="0" id="stop2873"/>
   <stop stop-color="#3465a4" offset="1" id="stop2875"/>
  </linearGradient>
  <linearGradient id="linearGradient2380">
   <stop stop-color="#b9e7c9" offset="0" id="stop2382"/>
   <stop stop-color="#72cf79" offset="1" id="stop2384"/>
  </linearGradient>
  <linearGradient id="linearGradient2402">
   <stop stop-color="#72cf7b" offset="0" id="stop2404"/>
   <stop stop-color="#57c552" offset="1" id="stop2406"/>
  </linearGradient>
  <linearGradient id="linearGradient2682">
   <stop stop-color="#3977c3" offset="0" id="stop2684"/>
   <stop stop-color="#89aedc" stop-opacity="0" offset="1" id="stop2686"/>
  </linearGradient>
  <linearGradient id="linearGradient2690">
   <stop stop-color="#57be6f" offset="0" id="stop2692"/>
   <stop stop-color="#c4ebca" stop-opacity="0" offset="1" id="stop2694"/>
  </linearGradient>
  <linearGradient y2="20.60858" y1="36.061237" xlink:href="#linearGradient2380" x2="15.984863" x1="62.513836" id="linearGradient5903" gradientUnits="userSpaceOnUse"/>
  <linearGradient y2="20.60858" y1="36.061237" xlink:href="#linearGradient2380" x2="15.984863" x1="62.513836" id="linearGradient5908" gradientUnits="userSpaceOnUse" gradientTransform="matrix(-6.0935847,-5.1483414,-5.1483414,6.0935847,846.16404,624.52042)"/>
  <linearGradient y2="26.649362" y1="23.667896" xlink:href="#linearGradient2402" x2="53.588622" x1="18.935766" id="linearGradient7848" gradientUnits="userSpaceOnUse"/>
  <linearGradient y2="50.939667" y1="45.264122" xlink:href="#linearGradient2871" x2="45.380436" x1="46.834816" id="linearGradient7850" gradientUnits="userSpaceOnUse"/>
  <linearGradient y2="68.224884" y1="60.445503" xlink:href="#linearGradient9910" x2="28.244684" x1="28.244684" id="linearGradient9972" gradientUnits="userSpaceOnUse" gradientTransform="matrix(-0.493304,-0.716654,0.716654,-0.493304,-9.26781,79.4192)"/>
  <linearGradient y2="68.224884" y1="60.445503" xlink:href="#linearGradient9920" x2="28.244684" x1="28.244684" id="linearGradient9968" gradientUnits="userSpaceOnUse" gradientTransform="matrix(-0.493304,-0.716654,0.716654,-0.493304,-9.26781,79.4192)"/>
  <linearGradient y2="68.224884" y1="60.445503" xlink:href="#linearGradient9910" x2="28.244684" x1="28.244684" id="linearGradient9965" gradientUnits="userSpaceOnUse" gradientTransform="matrix(-0.493304,-0.716654,0.716654,-0.493304,-9.26781,79.4192)"/>
  <linearGradient y2="62.827091" y1="62.401989" xlink:href="#linearGradient9952" x2="38.061356" x1="55.876038" id="linearGradient9961" gradientUnits="userSpaceOnUse" gradientTransform="matrix(-0.493304,-0.716654,0.716654,-0.493304,-9.26781,79.4192)"/>
  <linearGradient y2="44.110912" y1="27.140348" xlink:href="#linearGradient6395" x2="20.682873" x1="20.064156" id="linearGradient6401" gradientUnits="userSpaceOnUse"/>
  <radialGradient xlink:href="#linearGradient5048" r="14.875" id="radialGradient6353" gradientUnits="userSpaceOnUse" gradientTransform="matrix(1,0,0,0.420168,0,21.88866)" fy="37.75" fx="23.25" cy="37.75" cx="23.25"/>
  <linearGradient y2="30.703125" y1="31.046875" xlink:href="#linearGradient2994" x2="25.514589" x1="25.71875" id="linearGradient6349" gradientUnits="userSpaceOnUse" gradientTransform="matrix(5.259571e-3,0.999987,0.999987,-5.259571e-3,48.6929,-14.14491)"/>
  <radialGradient xlink:href="#linearGradient2984" r="3.240855" id="radialGradient6347" gradientUnits="userSpaceOnUse" gradientTransform="matrix(1.53767e-2,2.923527,2.029691,-1.067544e-2,20.39098,-69.72665)" fy="27.640751" fx="29.053354" cy="27.640751" cx="29.053354"/>
  <linearGradient y2="22.625" y1="19.8125" xlink:href="#linearGradient2974" x2="47.6875" x1="46" id="linearGradient6345" gradientUnits="userSpaceOnUse" gradientTransform="matrix(5.259571e-3,0.999987,0.999987,-5.259571e-3,42.99552,-2.496241)"/>
  <linearGradient y2="22.250591" y1="17.376184" xlink:href="#linearGradient2966" x2="50.988335" x1="48.90625" id="linearGradient6343" gradientUnits="userSpaceOnUse" gradientTransform="matrix(5.259571e-3,0.999987,0.999987,-5.259571e-3,42.9955,-2.496241)"/>
  <linearGradient y2="14.1875" y1="14.1875" xlink:href="#linearGradient5068" x2="37.625" x1="11.75" id="linearGradient5074" gradientUnits="userSpaceOnUse"/>
  <linearGradient y2="19.0846" y1="19.4596" xlink:href="#linearGradient5058" x2="15.625" x1="30.875" id="linearGradient5064" gradientUnits="userSpaceOnUse" gradientTransform="translate(0,5.625)"/>
  <radialGradient xlink:href="#linearGradient5048" r="14.875" id="radialGradient5054" gradientUnits="userSpaceOnUse" gradientTransform="matrix(1,0,0,0.420168,0,21.88866)" fy="37.75" fx="23.25" cy="37.75" cx="23.25"/>
  <linearGradient y2="26.0846" y1="26.0846" xlink:href="#linearGradient5036" x2="34.250416" x1="15.375" id="linearGradient5042" gradientUnits="userSpaceOnUse" gradientTransform="translate(0,5.625)"/>
  <linearGradient id="linearGradient5036">
   <stop stop-color="#f5f5f5" stop-opacity="0.09" offset="0" id="stop5038"/>
   <stop stop-color="#ffffff" stop-opacity="0.9" offset="0.263158" id="stop5044"/>
   <stop stop-color="#c7c7c7" stop-opacity="0.46" offset="0.747922" id="stop5088"/>
   <stop stop-color="#ffffff" stop-opacity="0.780392" offset="1" id="stop5040"/>
  </linearGradient>
  <linearGradient id="linearGradient5058">
   <stop stop-color="#959791" offset="0" id="stop5060"/>
   <stop stop-color="#f8f8f8" offset="0.5" id="stop5066"/>
   <stop stop-color="#8c8c8c" offset="1" id="stop3430"/>
  </linearGradient>
  <linearGradient id="linearGradient5068">
   <stop stop-color="#ffffff" offset="0" id="stop5070"/>
   <stop stop-color="#ffffff" stop-opacity="0.69" offset="0.328947" id="stop5078"/>
   <stop stop-color="#c2c2c2" stop-opacity="0.34" offset="0.657895" id="stop5076"/>
   <stop stop-color="#ffffff" stop-opacity="0" offset="1" id="stop5072"/>
  </linearGradient>
  <linearGradient id="linearGradient3414">
   <stop stop-color="#ffd1d1" offset="0" id="stop3416"/>
   <stop stop-color="#ff1d1d" offset="0.5" id="stop3418"/>
   <stop stop-color="#6f0000" offset="1" id="stop3420"/>
  </linearGradient>
  <linearGradient id="linearGradient3408">
   <stop stop-color="#c1c1c1" offset="0" id="stop3410"/>
   <stop stop-color="#acacac" offset="1" id="stop3412"/>
  </linearGradient>
  <linearGradient id="linearGradient2984">
   <stop stop-color="#e7e2b8" offset="0" id="stop2986"/>
   <stop stop-color="#e7e2b8" stop-opacity="0" offset="1" id="stop2988"/>
  </linearGradient>
  <linearGradient id="linearGradient3399">
   <stop stop-color="#000000" offset="0" id="stop3401"/>
   <stop stop-color="#c9c9c9" offset="1" id="stop3403"/>
  </linearGradient>
  <linearGradient id="linearGradient6395">
   <stop stop-color="#ffffff" offset="0" id="stop6397"/>
   <stop stop-color="#ffffff" stop-opacity="0" offset="1" id="stop6399"/>
  </linearGradient>
  <linearGradient id="linearGradient9910">
   <stop stop-color="#729fcf" offset="0" id="stop9912"/>
   <stop stop-color="#a5bfda" offset="0.315789" id="stop9918"/>
   <stop stop-color="#376ca4" offset="1" id="stop9914"/>
  </linearGradient>
  <linearGradient id="linearGradient9920">
   <stop stop-color="#5b90c8" offset="0" id="stop9922"/>
   <stop stop-color="#8fb0d1" offset="0.315789" id="stop9924"/>
   <stop stop-color="#34679d" offset="1" id="stop9926"/>
  </linearGradient>
  <linearGradient id="linearGradient9952">
   <stop stop-color="#ffffff" offset="0" id="stop9954"/>
   <stop stop-color="#ffffff" stop-opacity="0" offset="1" id="stop9956"/>
  </linearGradient>
  <radialGradient xlink:href="#linearGradient3041" r="17.6875" id="radialGradient2746" gradientUnits="userSpaceOnUse" gradientTransform="matrix(1,0,0,0.374558,0,24.47041)" fy="39.125" fx="24.8125" cy="39.125" cx="24.8125"/>
  <radialGradient xlink:href="#linearGradient3041" r="17.6875" id="radialGradient2748" gradientUnits="userSpaceOnUse" gradientTransform="matrix(1,0,0,0.374558,0,24.47041)" fy="39.125" fx="24.8125" cy="39.125" cx="24.8125"/>
  <linearGradient y2="6.775803" y1="42.253601" xlink:href="#linearGradient3049" x2="20.631224" x1="19.648342" id="linearGradient2750" gradientUnits="userSpaceOnUse" gradientTransform="matrix(0.87827,0,0,0.87827,1021.6871,470.17853)"/>
  <linearGradient y2="6.62859" y1="13.602527" xlink:href="#linearGradient3077" x2="37.53537" x1="38.227654" id="linearGradient2754" gradientUnits="userSpaceOnUse" gradientTransform="matrix(0.87827,0,0,0.87827,1021.9976,470.79956)"/>
  <linearGradient y2="9.656854" y1="19.821514" xlink:href="#linearGradient2250" x2="40.859177" x1="31.177404" id="linearGradient2756" gradientUnits="userSpaceOnUse" gradientTransform="translate(1019.1501,465.21085)"/>
  <linearGradient y2="39.443218" y1="32.28376" xlink:href="#linearGradient3087" x2="16.915297" x1="9.750324" id="linearGradient2758" gradientUnits="userSpaceOnUse" gradientTransform="matrix(11.38261,0,0,11.38261,13184.667,6222.4067)"/>
  <linearGradient y2="33.194965" y1="35.688461" xlink:href="#linearGradient2257" x2="10.650805" x1="12.004697" id="linearGradient2760" gradientUnits="userSpaceOnUse" gradientTransform="matrix(1.007254,-2.636526e-2,2.636526e-2,1.007254,1020.7435,465.29004)"/>
  <linearGradient y2="38.268368" y1="36.942543" xlink:href="#linearGradient2265" x2="15.415793" x1="14.017542" id="linearGradient2762" gradientUnits="userSpaceOnUse" gradientTransform="matrix(0.878099,-1.73237e-2,1.73237e-2,0.878099,1021.3138,469.27875)"/>
  <radialGradient xlink:href="#linearGradient4750" r="40.692665" id="radialGradient3603" gradientUnits="userSpaceOnUse" gradientTransform="scale(1.036822,0.964486)" fy="17.810213" fx="18.934305" cy="17.486208" cx="18.63378"/>
  <radialGradient xlink:href="#linearGradient4750" r="40.692665" id="radialGradient3605" gradientUnits="userSpaceOnUse" gradientTransform="scale(1.036822,0.964486)" fy="17.810213" fx="18.934305" cy="17.486208" cx="18.63378"/>
  <radialGradient xlink:href="#linearGradient4750" r="40.692665" id="radialGradient3607" gradientUnits="userSpaceOnUse" gradientTransform="scale(1.036822,0.964486)" fy="17.810213" fx="18.934305" cy="17.486208" cx="18.63378"/>
  <radialGradient xlink:href="#linearGradient4750" r="40.692665" id="radialGradient3611" gradientUnits="userSpaceOnUse" gradientTransform="scale(1.036822,0.964486)" fy="17.810213" fx="18.934305" cy="17.486208" cx="18.63378"/>
  <radialGradient xlink:href="#linearGradient4750" r="40.692665" id="radialGradient3613" gradientUnits="userSpaceOnUse" gradientTransform="scale(1.036822,0.964486)" fy="17.810213" fx="18.934305" cy="17.486208" cx="18.63378"/>
  <radialGradient xlink:href="#linearGradient4750" r="40.692665" id="radialGradient3617" gradientUnits="userSpaceOnUse" gradientTransform="scale(1.036822,0.964486)" fy="17.810213" fx="18.934305" cy="17.486208" cx="18.63378"/>
  <radialGradient xlink:href="#linearGradient4750" r="40.692665" id="radialGradient3619" gradientUnits="userSpaceOnUse" gradientTransform="scale(1.036822,0.964486)" fy="17.810213" fx="18.934305" cy="17.486208" cx="18.63378"/>
  <radialGradient xlink:href="#linearGradient4750" r="40.692665" id="radialGradient3623" gradientUnits="userSpaceOnUse" gradientTransform="scale(1.036822,0.964486)" fy="17.810213" fx="18.934305" cy="17.486208" cx="18.63378"/>
  <radialGradient xlink:href="#linearGradient4750" r="40.692665" id="radialGradient3625" gradientUnits="userSpaceOnUse" gradientTransform="scale(1.036822,0.964486)" fy="17.810213" fx="18.934305" cy="17.486208" cx="18.63378"/>
  <radialGradient xlink:href="#linearGradient4750" r="40.692665" id="radialGradient3629" gradientUnits="userSpaceOnUse" gradientTransform="scale(1.036822,0.964486)" fy="17.810213" fx="18.934305" cy="17.486208" cx="18.63378"/>
  <radialGradient xlink:href="#linearGradient4750" r="40.692665" id="radialGradient3631" gradientUnits="userSpaceOnUse" gradientTransform="scale(1.036822,0.964486)" fy="17.810213" fx="18.934305" cy="17.486208" cx="18.63378"/>
  <radialGradient xlink:href="#linearGradient4750" r="40.692665" id="radialGradient3635" gradientUnits="userSpaceOnUse" gradientTransform="scale(1.036822,0.964486)" fy="17.810213" fx="18.934305" cy="17.486208" cx="18.63378"/>
  <radialGradient xlink:href="#linearGradient4750" r="40.692665" id="radialGradient3637" gradientUnits="userSpaceOnUse" gradientTransform="scale(1.036822,0.964486)" fy="17.810213" fx="18.934305" cy="17.486208" cx="18.63378"/>
  <radialGradient xlink:href="#linearGradient4750" r="40.692665" id="radialGradient3641" gradientUnits="userSpaceOnUse" gradientTransform="scale(1.036822,0.964486)" fy="17.810213" fx="18.934305" cy="17.486208" cx="18.63378"/>
  <radialGradient xlink:href="#linearGradient4750" r="40.692665" id="radialGradient3643" gradientUnits="userSpaceOnUse" gradientTransform="scale(1.036822,0.964486)" fy="17.810213" fx="18.934305" cy="17.486208" cx="18.63378"/>
  <radialGradient xlink:href="#linearGradient4750" r="40.692665" id="radialGradient3647" gradientUnits="userSpaceOnUse" gradientTransform="scale(1.036822,0.964486)" fy="17.810213" fx="18.934305" cy="17.486208" cx="18.63378"/>
  <radialGradient xlink:href="#linearGradient4750" r="40.692665" id="radialGradient3649" gradientUnits="userSpaceOnUse" gradientTransform="scale(1.036822,0.964486)" fy="17.810213" fx="18.934305" cy="17.486208" cx="18.63378"/>
  <radialGradient xlink:href="#linearGradient4750" r="40.692665" id="radialGradient3653" gradientUnits="userSpaceOnUse" gradientTransform="scale(1.036822,0.964486)" fy="17.810213" fx="18.934305" cy="17.486208" cx="18.63378"/>
  <radialGradient xlink:href="#linearGradient4750" r="40.692665" id="radialGradient3655" gradientUnits="userSpaceOnUse" gradientTransform="scale(1.036822,0.964486)" fy="17.810213" fx="18.934305" cy="17.486208" cx="18.63378"/>
  <radialGradient xlink:href="#linearGradient4750" r="40.692665" id="radialGradient3659" gradientUnits="userSpaceOnUse" gradientTransform="scale(1.036822,0.964486)" fy="17.810213" fx="18.934305" cy="17.486208" cx="18.63378"/>
  <radialGradient xlink:href="#linearGradient4750" r="40.692665" id="radialGradient3663" gradientUnits="userSpaceOnUse" gradientTransform="scale(1.036822,0.964486)" fy="17.810213" fx="18.934305" cy="17.486208" cx="18.63378"/>
  <radialGradient xlink:href="#linearGradient4750" r="40.692665" id="radialGradient3665" gradientUnits="userSpaceOnUse" gradientTransform="scale(1.036822,0.964486)" fy="17.810213" fx="18.934305" cy="17.486208" cx="18.63378"/>
  <radialGradient xlink:href="#linearGradient4750" r="40.692665" id="radialGradient3669" gradientUnits="userSpaceOnUse" gradientTransform="scale(1.036822,0.964486)" fy="17.810213" fx="18.934305" cy="17.486208" cx="18.63378"/>
  <radialGradient xlink:href="#linearGradient4750" r="40.692665" id="radialGradient3673" gradientUnits="userSpaceOnUse" gradientTransform="scale(1.036822,0.964486)" fy="17.810213" fx="18.934305" cy="17.486208" cx="18.63378"/>
  <radialGradient xlink:href="#linearGradient4750" r="40.692665" id="radialGradient3675" gradientUnits="userSpaceOnUse" gradientTransform="scale(1.036822,0.964486)" fy="17.810213" fx="18.934305" cy="17.486208" cx="18.63378"/>
  <radialGradient xlink:href="#linearGradient4750" r="40.692665" id="radialGradient3679" gradientUnits="userSpaceOnUse" gradientTransform="scale(1.036822,0.964486)" fy="17.810213" fx="18.934305" cy="17.486208" cx="18.63378"/>
  <radialGradient xlink:href="#linearGradient4750" r="40.692665" id="radialGradient3681" gradientUnits="userSpaceOnUse" gradientTransform="scale(1.036822,0.964486)" fy="17.810213" fx="18.934305" cy="17.486208" cx="18.63378"/>
  <radialGradient xlink:href="#linearGradient2304" r="16.956199" id="radialGradient3755" gradientUnits="userSpaceOnUse" gradientTransform="matrix(0,-8.4690288,10.248644,0,454.76267,899.88684)" fy="22.454971" fx="11.319205" cy="22.454971" cx="11.319205"/>
  <radialGradient xlink:href="#linearGradient8650" r="17.171415" id="radialGradient3757" gradientUnits="userSpaceOnUse" gradientTransform="matrix(0,-20.561511,15.647805,0,476.46787,1144.4736)" fy="0.400108" fx="24.53788" cy="0.400108" cx="24.53788"/>
  <linearGradient y2="425.06561" y1="733.39258" x2="411.3941" x1="43.944302" id="linearGradient5446" gradientUnits="userSpaceOnUse">
   <stop stop-color="#003F90" offset="0.0562" id="stop12"/>
   <stop stop-color="#0093D2" offset="0.5674" id="stop14"/>
   <stop stop-color="#EDF3F7" offset="0.9551" id="stop16"/>
  </linearGradient>
  <linearGradient y2="425.06561" y1="733.39258" x2="411.39359" x1="43.943802" id="linearGradient5452" gradientUnits="userSpaceOnUse">
   <stop stop-color="#003F90" offset="0.0562" id="stop21"/>
   <stop stop-color="#0093D2" offset="0.5674" id="stop23"/>
   <stop stop-color="#EDF3F7" offset="0.9551" id="stop25"/>
  </linearGradient>
  <radialGradient xlink:href="#linearGradient11607" r="22.829447" id="radialGradient27838" gradientUnits="userSpaceOnUse" gradientTransform="matrix(1,0,0,0.619469,0,12.30737)" fy="32.342636" fx="24.344677" cy="32.342636" cx="24.344677"/>
  <radialGradient xlink:href="#linearGradient11621" r="13.261548" id="radialGradient27840" gradientUnits="userSpaceOnUse" gradientTransform="matrix(77.292893,0,0,100.9957,2184.8427,3608.3222)" fy="14.245288" fx="20.588579" cy="14.245288" cx="20.588579"/>
  <linearGradient y2="7.187739" y1="12.830256" xlink:href="#linearGradient11950" x2="23.991123" x1="23.991123" id="linearGradient27842" gradientUnits="userSpaceOnUse"/>
  <linearGradient y2="56.399807" y1="2.482913" xlink:href="#linearGradient11635" x2="16.002489" x1="10.807498" id="linearGradient27844" gradientUnits="userSpaceOnUse" gradientTransform="matrix(31.946918,0,0,43.813378,3130.7291,4485.1632)"/>
  <linearGradient y2="15.069027" y1="6.583746" xlink:href="#linearGradient11621" x2="23.991123" x1="23.991123" id="linearGradient27846" gradientUnits="userSpaceOnUse"/>
  <linearGradient y2="788.79425" y1="788.79425" xlink:href="#linearGradient11494" x2="670.66669" x1="500.15613" id="linearGradient28851" gradientUnits="userSpaceOnUse"/>
  <radialGradient xlink:href="#linearGradient2454" r="8.766279" id="radialGradient29861" gradientUnits="userSpaceOnUse" gradientTransform="scale(1.925808,0.519262)" fy="67.501709" fx="12.57571" cy="67.501709" cx="12.57571"/>
  <linearGradient y2="44.878883" y1="49.953003" xlink:href="#linearGradient2985" x2="-23.8857" x1="-23.8857" id="linearGradient29863" gradientUnits="userSpaceOnUse" gradientTransform="scale(1.492875,0.669848)"/>
  <radialGradient xlink:href="#linearGradient2454" r="8.766279" id="radialGradient29865" gradientUnits="userSpaceOnUse" gradientTransform="scale(1.925808,0.519262)" fy="67.501709" fx="12.57571" cy="67.501709" cx="12.57571"/>
  <linearGradient y2="64.892525" y1="53.535141" xlink:href="#linearGradient2701" x2="12.127711" x1="12.206709" id="linearGradient29867" gradientUnits="userSpaceOnUse" gradientTransform="matrix(23.54031,0,0,7.13535,-56.66623,128.7693)"/>
  <linearGradient y2="33.339787" y1="7.229358" xlink:href="#linearGradient2245" x2="34.784473" x1="8.611624" id="linearGradient29869" gradientUnits="userSpaceOnUse" gradientTransform="matrix(14.64332,0,0,11.47065,-77.72666,111.8644)"/>
  <linearGradient y2="31.246054" y1="5.381774" xlink:href="#linearGradient2253" x2="32.536823" x1="10.390738" id="linearGradient29871" gradientUnits="userSpaceOnUse" gradientTransform="matrix(14.31328,0,0,11.73514,-56.66624,128.7693)"/>
  <linearGradient y2="8.866623" y1="32.622238" xlink:href="#linearGradient2675" x2="16.315819" x1="19.150396" id="linearGradient29873" gradientUnits="userSpaceOnUse" gradientTransform="matrix(15.21715,0,0,12.25303,-47.31113,111.5125)"/>
  <linearGradient y2="162.45061" y1="171.29134" xlink:href="#linearGradient2683" x2="3.706997" x1="3.706998" id="linearGradient29875" gradientUnits="userSpaceOnUse" gradientTransform="matrix(73.94036,0,0,2.271675,-43.70597,119.9645)"/>
  <linearGradient y2="55.200756" y1="13.004725" xlink:href="#linearGradient2415" x2="34.974548" x1="17.698339" id="linearGradient29877" gradientUnits="userSpaceOnUse" gradientTransform="matrix(14.36087,0,0,11.69626,-43.70597,141.7296)"/>
  <linearGradient y2="26.729263" y1="1.653758" xlink:href="#linearGradient2667" x2="17.199417" x1="11.492236" id="linearGradient29879" gradientUnits="userSpaceOnUse" gradientTransform="matrix(16.05747,0,0,11.61181,-49.01242,111.5125)"/>
  <radialGradient xlink:href="#linearGradient2454" r="8.766279" id="radialGradient29881" gradientUnits="userSpaceOnUse" gradientTransform="scale(1.925808,0.519262)" fy="67.501709" fx="12.57571" cy="67.501709" cx="12.57571"/>
  <linearGradient y2="52.536461" y1="48.643234" xlink:href="#linearGradient2245" x2="18.176752" x1="18.316999" id="linearGradient29883" gradientUnits="userSpaceOnUse" gradientTransform="matrix(14.64332,0,0,11.47065,-56.66624,128.7693)"/>
  <linearGradient y2="31.246054" y1="5.381774" xlink:href="#linearGradient2253" x2="32.536823" x1="10.390738" id="linearGradient29885" gradientUnits="userSpaceOnUse" gradientTransform="matrix(14.31328,0,0,11.73514,-56.66624,128.7693)"/>
  <linearGradient y2="39.443218" y1="32.28376" xlink:href="#linearGradient3087" x2="16.915297" x1="9.750324" id="linearGradient29887" gradientUnits="userSpaceOnUse" gradientTransform="matrix(11.38261,0,0,11.38261,13184.67,6222.407)"/>
  <linearGradient y2="100.20015" y1="88.509071" xlink:href="#linearGradient3061" x2="8.113423" x1="8.113424" id="linearGradient29889" gradientUnits="userSpaceOnUse" gradientTransform="matrix(29.93628,0,0,5.610861,-56.66623,128.7693)"/>
  <linearGradient y2="100.20015" y1="88.509071" xlink:href="#linearGradient3061" x2="8.113423" x1="8.113424" id="linearGradient29891" gradientUnits="userSpaceOnUse" gradientTransform="matrix(29.93628,0,0,5.610861,-56.66623,128.7693)"/>
  <linearGradient y2="74.098007" y1="101.2846" xlink:href="#linearGradient2635" x2="8.648501" x1="13.62871" id="linearGradient29893" gradientUnits="userSpaceOnUse" gradientTransform="matrix(27.78206,0,0,6.045937,-43.70597,122.1749)"/>
  <linearGradient y2="3.84511" y1="3.938409" xlink:href="#linearGradient2711" x2="35.520542" x1="34.300991" id="linearGradient29895" gradientUnits="userSpaceOnUse"/>
  <linearGradient y2="3.84511" y1="3.938409" xlink:href="#linearGradient2711" x2="35.520542" x1="34.300991" id="linearGradient29897" gradientUnits="userSpaceOnUse"/>
  <linearGradient y2="3.84511" y1="3.938409" xlink:href="#linearGradient2711" x2="35.520542" x1="34.300991" id="linearGradient29899" gradientUnits="userSpaceOnUse"/>
  <linearGradient y2="3.84511" y1="3.938409" xlink:href="#linearGradient2711" x2="35.520542" x1="34.300991" id="linearGradient29901" gradientUnits="userSpaceOnUse"/>
  <linearGradient y2="3.84511" y1="3.938409" xlink:href="#linearGradient2711" x2="35.520542" x1="34.300991" id="linearGradient29903" gradientUnits="userSpaceOnUse"/>
  <radialGradient xlink:href="#linearGradient11607" r="22.829447" id="radialGradient29905" gradientUnits="userSpaceOnUse" gradientTransform="matrix(1,0,0,0.619469,7.605028e-15,12.30737)" fy="32.342636" fx="24.344677" cy="32.342636" cx="24.344677"/>
  <linearGradient y2="-16.132717" y1="4.375" xlink:href="#linearGradient12270" x2="-2.659497" x1="35.743351" id="linearGradient29907" gradientUnits="userSpaceOnUse" gradientTransform="matrix(4.855536,0,0,6.111535,467.8061,620.386)"/>
  <radialGradient xlink:href="#linearGradient11621" r="13.261548" id="radialGradient29909" gradientUnits="userSpaceOnUse" gradientTransform="matrix(77.29289,0,0,100.9957,2184.843,3608.322)" fy="14.245288" fx="20.588579" cy="14.245288" cx="20.588579"/>
  <linearGradient y2="7.187739" y1="12.830256" xlink:href="#linearGradient11950" x2="23.991123" x1="23.991123" id="linearGradient29911" gradientUnits="userSpaceOnUse"/>
  <linearGradient y2="788.79425" y1="788.79425" xlink:href="#linearGradient11494" x2="670.66669" x1="500.15613" id="linearGradient29913" gradientUnits="userSpaceOnUse"/>
  <linearGradient y2="56.399807" y1="2.482913" xlink:href="#linearGradient11635" x2="16.002489" x1="10.807498" id="linearGradient29915" gradientUnits="userSpaceOnUse" gradientTransform="matrix(31.94692,0,0,43.81338,3130.729,4485.163)"/>
  <linearGradient y2="15.069027" y1="6.583746" xlink:href="#linearGradient11621" x2="23.991123" x1="23.991123" id="linearGradient29917" gradientUnits="userSpaceOnUse"/>
  <radialGradient xlink:href="#linearGradient2454" r="8.766279" id="radialGradient10159" gradientUnits="userSpaceOnUse" gradientTransform="scale(1.925808,0.519262)" fy="67.501709" fx="12.57571" cy="67.501709" cx="12.57571"/>
  <linearGradient y2="44.878883" y1="49.953003" xlink:href="#linearGradient2985" x2="-23.8857" x1="-23.8857" id="linearGradient10161" gradientUnits="userSpaceOnUse" gradientTransform="scale(1.492875,0.669848)"/>
  <radialGradient xlink:href="#linearGradient2454" r="8.766279" id="radialGradient10163" gradientUnits="userSpaceOnUse" gradientTransform="scale(1.925808,0.519262)" fy="67.501709" fx="12.57571" cy="67.501709" cx="12.57571"/>
  <linearGradient y2="64.892525" y1="53.535141" xlink:href="#linearGradient2701" x2="12.127711" x1="12.206709" id="linearGradient10165" gradientUnits="userSpaceOnUse" gradientTransform="matrix(23.54031,0,0,7.13535,-56.66623,128.7693)"/>
  <linearGradient y2="33.339787" y1="7.229358" xlink:href="#linearGradient2245" x2="34.784473" x1="8.611624" id="linearGradient10167" gradientUnits="userSpaceOnUse" gradientTransform="matrix(14.64332,0,0,11.47065,-77.72666,111.8644)"/>
  <linearGradient y2="31.246054" y1="5.381774" xlink:href="#linearGradient2253" x2="32.536823" x1="10.390738" id="linearGradient10169" gradientUnits="userSpaceOnUse" gradientTransform="matrix(14.31328,0,0,11.73514,-56.66624,128.7693)"/>
  <linearGradient y2="8.866623" y1="32.622238" xlink:href="#linearGradient2675" x2="16.315819" x1="19.150396" id="linearGradient10171" gradientUnits="userSpaceOnUse" gradientTransform="matrix(15.21715,0,0,12.25303,-47.31113,111.5125)"/>
  <linearGradient y2="162.45061" y1="171.29134" xlink:href="#linearGradient2683" x2="3.706997" x1="3.706998" id="linearGradient10173" gradientUnits="userSpaceOnUse" gradientTransform="matrix(73.94036,0,0,2.271675,-43.70597,119.9645)"/>
  <linearGradient y2="55.200756" y1="13.004725" xlink:href="#linearGradient2415" x2="34.974548" x1="17.698339" id="linearGradient10175" gradientUnits="userSpaceOnUse" gradientTransform="matrix(14.36087,0,0,11.69626,-43.70597,141.7296)"/>
  <linearGradient y2="26.729263" y1="1.653758" xlink:href="#linearGradient2667" x2="17.199417" x1="11.492236" id="linearGradient10177" gradientUnits="userSpaceOnUse" gradientTransform="matrix(16.05747,0,0,11.61181,-49.01242,111.5125)"/>
  <radialGradient xlink:href="#linearGradient2454" r="8.766279" id="radialGradient10179" gradientUnits="userSpaceOnUse" gradientTransform="scale(1.925808,0.519262)" fy="67.501709" fx="12.57571" cy="67.501709" cx="12.57571"/>
  <linearGradient y2="52.536461" y1="48.643234" xlink:href="#linearGradient2245" x2="18.176752" x1="18.316999" id="linearGradient10181" gradientUnits="userSpaceOnUse" gradientTransform="matrix(14.64332,0,0,11.47065,-56.66624,128.7693)"/>
  <linearGradient y2="31.246054" y1="5.381774" xlink:href="#linearGradient2253" x2="32.536823" x1="10.390738" id="linearGradient10183" gradientUnits="userSpaceOnUse" gradientTransform="matrix(14.31328,0,0,11.73514,-56.66624,128.7693)"/>
  <linearGradient y2="39.443218" y1="32.28376" xlink:href="#linearGradient3087" x2="16.915297" x1="9.750324" id="linearGradient10185" gradientUnits="userSpaceOnUse" gradientTransform="matrix(11.38261,0,0,11.38261,13184.67,6222.407)"/>
  <linearGradient y2="100.20015" y1="88.509071" xlink:href="#linearGradient3061" x2="8.113423" x1="8.113424" id="linearGradient10187" gradientUnits="userSpaceOnUse" gradientTransform="matrix(29.93628,0,0,5.610861,-56.66623,128.7693)"/>
  <linearGradient y2="100.20015" y1="88.509071" xlink:href="#linearGradient3061" x2="8.113423" x1="8.113424" id="linearGradient10189" gradientUnits="userSpaceOnUse" gradientTransform="matrix(29.93628,0,0,5.610861,-56.66623,128.7693)"/>
  <linearGradient y2="74.098007" y1="101.2846" xlink:href="#linearGradient2635" x2="8.648501" x1="13.62871" id="linearGradient10191" gradientUnits="userSpaceOnUse" gradientTransform="matrix(27.78206,0,0,6.045937,-43.70597,122.1749)"/>
  <linearGradient y2="3.84511" y1="3.938409" xlink:href="#linearGradient2711" x2="35.520542" x1="34.300991" id="linearGradient10193" gradientUnits="userSpaceOnUse"/>
  <linearGradient y2="3.84511" y1="3.938409" xlink:href="#linearGradient2711" x2="35.520542" x1="34.300991" id="linearGradient10195" gradientUnits="userSpaceOnUse"/>
  <linearGradient y2="3.84511" y1="3.938409" xlink:href="#linearGradient2711" x2="35.520542" x1="34.300991" id="linearGradient10197" gradientUnits="userSpaceOnUse"/>
  <linearGradient y2="3.84511" y1="3.938409" xlink:href="#linearGradient2711" x2="35.520542" x1="34.300991" id="linearGradient10199" gradientUnits="userSpaceOnUse"/>
  <linearGradient y2="3.84511" y1="3.938409" xlink:href="#linearGradient2711" x2="35.520542" x1="34.300991" id="linearGradient10201" gradientUnits="userSpaceOnUse"/>
  <radialGradient xlink:href="#linearGradient11607" r="22.829447" id="radialGradient10203" gradientUnits="userSpaceOnUse" gradientTransform="matrix(1,0,0,0.619469,0,12.30737)" fy="32.342636" fx="24.344677" cy="32.342636" cx="24.344677"/>
  <linearGradient y2="-16.132717" y1="4.375" xlink:href="#linearGradient12270" x2="-2.659497" x1="35.743351" id="linearGradient10205" gradientUnits="userSpaceOnUse" gradientTransform="matrix(4.855536,0,0,6.111535,467.8061,620.386)"/>
  <radialGradient xlink:href="#linearGradient11621" r="13.261548" id="radialGradient10207" gradientUnits="userSpaceOnUse" gradientTransform="matrix(77.29289,0,0,100.9957,2184.843,3608.322)" fy="14.245288" fx="20.588579" cy="14.245288" cx="20.588579"/>
  <linearGradient y2="7.187739" y1="12.830256" xlink:href="#linearGradient11950" x2="23.991123" x1="23.991123" id="linearGradient10209" gradientUnits="userSpaceOnUse"/>
  <linearGradient y2="788.79425" y1="788.79425" xlink:href="#linearGradient11494" x2="670.66669" x1="500.15613" id="linearGradient10211" gradientUnits="userSpaceOnUse"/>
  <linearGradient y2="56.399807" y1="2.482913" xlink:href="#linearGradient11635" x2="16.002489" x1="10.807498" id="linearGradient10213" gradientUnits="userSpaceOnUse" gradientTransform="matrix(31.94692,0,0,43.81338,3130.729,4485.163)"/>
  <linearGradient y2="15.069027" y1="6.583746" xlink:href="#linearGradient11621" x2="23.991123" x1="23.991123" id="linearGradient10215" gradientUnits="userSpaceOnUse"/>
  <radialGradient xlink:href="#linearGradient2454" r="8.766279" id="radialGradient38841" gradientUnits="userSpaceOnUse" gradientTransform="scale(1.925808,0.519262)" fy="67.501709" fx="12.57571" cy="67.501709" cx="12.57571"/>
  <linearGradient y2="Infinity" y1="Infinity" xlink:href="#linearGradient2985" x2="0.500001" x1="0.500001" id="linearGradient38843"/>
  <radialGradient xlink:href="#linearGradient2454" r="8.766279" id="radialGradient38845" gradientUnits="userSpaceOnUse" gradientTransform="scale(1.925808,0.519262)" fy="67.501709" fx="12.57571" cy="67.501709" cx="12.57571"/>
  <linearGradient y2="64.892525" y1="53.535141" xlink:href="#linearGradient2701" x2="12.127711" x1="12.206709" id="linearGradient38847" gradientUnits="userSpaceOnUse" gradientTransform="matrix(23.54031,0,0,7.13535,-56.66623,128.7693)"/>
  <linearGradient y2="33.339787" y1="7.229358" xlink:href="#linearGradient2245" x2="34.784473" x1="8.611624" id="linearGradient38849" gradientUnits="userSpaceOnUse" gradientTransform="matrix(14.64332,0,0,11.47065,-77.72666,111.8644)"/>
  <linearGradient y2="31.246054" y1="5.381774" xlink:href="#linearGradient2253" x2="32.536823" x1="10.390738" id="linearGradient38851" gradientUnits="userSpaceOnUse" gradientTransform="matrix(14.31328,0,0,11.73514,-56.66624,128.7693)"/>
  <linearGradient y2="8.866623" y1="32.622238" xlink:href="#linearGradient2675" x2="16.315819" x1="19.150396" id="linearGradient38853" gradientUnits="userSpaceOnUse" gradientTransform="matrix(15.21715,0,0,12.25303,-47.31113,111.5125)"/>
  <linearGradient y2="162.45061" y1="171.29134" xlink:href="#linearGradient2683" x2="3.706997" x1="3.706998" id="linearGradient38855" gradientUnits="userSpaceOnUse" gradientTransform="matrix(73.94036,0,0,2.271675,-43.70597,119.9645)"/>
  <linearGradient y2="55.200756" y1="13.004725" xlink:href="#linearGradient2415" x2="34.974548" x1="17.698339" id="linearGradient38857" gradientUnits="userSpaceOnUse" gradientTransform="matrix(14.36087,0,0,11.69626,-43.70597,141.7296)"/>
  <linearGradient y2="26.729263" y1="1.653758" xlink:href="#linearGradient2667" x2="17.199417" x1="11.492236" id="linearGradient38859" gradientUnits="userSpaceOnUse" gradientTransform="matrix(16.05747,0,0,11.61181,-49.01242,111.5125)"/>
  <radialGradient xlink:href="#linearGradient2454" r="8.766279" id="radialGradient38861" gradientUnits="userSpaceOnUse" gradientTransform="scale(1.925808,0.519262)" fy="67.501709" fx="12.57571" cy="67.501709" cx="12.57571"/>
  <linearGradient y2="52.536461" y1="48.643234" xlink:href="#linearGradient2245" x2="18.176752" x1="18.316999" id="linearGradient38863" gradientUnits="userSpaceOnUse" gradientTransform="matrix(14.64332,0,0,11.47065,-56.66624,128.7693)"/>
  <linearGradient y2="31.246054" y1="5.381774" xlink:href="#linearGradient2253" x2="32.536823" x1="10.390738" id="linearGradient38865" gradientUnits="userSpaceOnUse" gradientTransform="matrix(14.31328,0,0,11.73514,-56.66624,128.7693)"/>
  <linearGradient y2="39.443218" y1="32.28376" xlink:href="#linearGradient3087" x2="16.915297" x1="9.750324" id="linearGradient38867" gradientUnits="userSpaceOnUse" gradientTransform="matrix(11.38261,0,0,11.38261,13184.67,6222.407)"/>
  <linearGradient y2="100.20015" y1="88.509071" xlink:href="#linearGradient3061" x2="8.113423" x1="8.113424" id="linearGradient38869" gradientUnits="userSpaceOnUse" gradientTransform="matrix(29.93628,0,0,5.610861,-56.66623,128.7693)"/>
  <linearGradient y2="100.20015" y1="88.509071" xlink:href="#linearGradient3061" x2="8.113423" x1="8.113424" id="linearGradient38871" gradientUnits="userSpaceOnUse" gradientTransform="matrix(29.93628,0,0,5.610861,-56.66623,128.7693)"/>
  <linearGradient y2="74.098007" y1="101.2846" xlink:href="#linearGradient2635" x2="8.648501" x1="13.62871" id="linearGradient38873" gradientUnits="userSpaceOnUse" gradientTransform="matrix(27.78206,0,0,6.045937,-43.70597,122.1749)"/>
  <linearGradient y2="-Infinity" y1="-Infinity" xlink:href="#linearGradient2711" x2="0.940478" x1="0.214284" id="linearGradient38875"/>
  <linearGradient y2="-Infinity" y1="-Infinity" xlink:href="#linearGradient2711" x2="0.940478" x1="0.214284" id="linearGradient38877"/>
  <linearGradient y2="-Infinity" y1="-Infinity" xlink:href="#linearGradient2711" x2="0.940478" x1="0.214284" id="linearGradient38879"/>
  <linearGradient y2="-Infinity" y1="-Infinity" xlink:href="#linearGradient2711" x2="0.940478" x1="0.214284" id="linearGradient38881"/>
  <linearGradient y2="-Infinity" y1="-Infinity" xlink:href="#linearGradient2711" x2="0.940478" x1="0.214284" id="linearGradient38883"/>
  <radialGradient xlink:href="#linearGradient11607" r="22.829447" id="radialGradient38885" gradientUnits="userSpaceOnUse" gradientTransform="matrix(1,0,0,0.619469,0,12.30737)" fy="32.342636" fx="24.344677" cy="32.342636" cx="24.344677"/>
  <linearGradient y2="-16.132717" y1="4.375" xlink:href="#linearGradient12270" x2="-2.659497" x1="35.743351" id="linearGradient38887" gradientUnits="userSpaceOnUse" gradientTransform="matrix(4.855536,0,0,6.111535,467.8061,620.386)"/>
  <radialGradient xlink:href="#linearGradient11621" r="13.261548" id="radialGradient38889" gradientUnits="userSpaceOnUse" gradientTransform="matrix(77.29289,0,0,100.9957,2184.843,3608.322)" fy="14.245288" fx="20.588579" cy="14.245288" cx="20.588579"/>
  <linearGradient y2="-Infinity" y1="Infinity" xlink:href="#linearGradient11950" x2="0.5" x1="0.5" id="linearGradient38891"/>
  <linearGradient y2="788.79425" y1="788.79425" xlink:href="#linearGradient11494" x2="670.66669" x1="500.15613" id="linearGradient38893" gradientUnits="userSpaceOnUse"/>
  <linearGradient y2="56.399807" y1="2.482913" xlink:href="#linearGradient11635" x2="16.002489" x1="10.807498" id="linearGradient38895" gradientUnits="userSpaceOnUse" gradientTransform="matrix(31.94692,0,0,43.81338,3130.729,4485.163)"/>
  <linearGradient y2="Infinity" y1="-Infinity" xlink:href="#linearGradient11621" x2="0.5" x1="0.5" id="linearGradient38897"/>
  <linearGradient y2="0.5" y1="0.5" xlink:href="#linearGradient11494" x2="1.018053" x1="-0.018053" id="linearGradient38902"/>
  <linearGradient y2="30.148381" y1="18.792312" xlink:href="#linearGradient11635" x2="19.073073" x1="18.064596" id="linearGradient38904"/>
  <radialGradient xlink:href="#linearGradient11621" r="13.261548" id="radialGradient38911" gradientUnits="userSpaceOnUse" gradientTransform="matrix(77.29289,0,0,100.9957,2213.3955,3615.1202)" fy="14.245288" fx="20.588579" cy="14.245288" cx="20.588579"/>
  <linearGradient y2="-2.504164" y1="0.194111" xlink:href="#linearGradient12270" x2="-0.979818" x1="0.581303" id="linearGradient38914"/>
  <linearGradient y2="-0.435013" y1="1.132167" xlink:href="#linearGradient2635" x2="0.435024" x1="0.721536" id="linearGradient38924"/>
  <linearGradient y2="0.974057" y1="-1.889111" xlink:href="#linearGradient3061" x2="0.549187" x1="0.549187" id="linearGradient38927"/>
  <linearGradient y2="1.000065" y1="0.020828" xlink:href="#linearGradient3061" x2="0.511904" x1="0.511905" id="linearGradient38930"/>
  <linearGradient y2="92.598182" y1="91.350112" xlink:href="#linearGradient3087" x2="143.820696" x1="142.919498" id="linearGradient38933"/>
  <linearGradient y2="1.003121" y1="0.646067" xlink:href="#linearGradient2245" x2="0.463449" x1="0.467526" id="linearGradient38939"/>
  <linearGradient y2="-0.88338" y1="-3.310128" xlink:href="#linearGradient2253" x2="0.859576" x1="0.230303" id="linearGradient38941"/>
  <linearGradient y2="1" y1="-0.257196" xlink:href="#linearGradient2667" x2="0.556222" x1="0.275112" id="linearGradient38945"/>
  <linearGradient y2="1.76746" y1="0.369575" xlink:href="#linearGradient2415" x2="1.031197" x1="0.46249" id="linearGradient38948"/>
  <linearGradient y2="-Infinity" y1="Infinity" xlink:href="#linearGradient2683" x2="0.508188" x1="0.508188" id="linearGradient38951"/>
  <linearGradient y2="0.124536" y1="1.143314" xlink:href="#linearGradient2675" x2="0.459687" x1="0.580054" id="linearGradient38954"/>
  <linearGradient y2="0.914063" y1="0.117188" xlink:href="#linearGradient2245" x2="0.944048" x1="0.113097" id="linearGradient38957"/>
  <linearGradient y2="0.91713" y1="0.109566" xlink:href="#linearGradient2253" x2="0.895068" x1="0.207808" id="linearGradient38959"/>
  <linearGradient y2="1.833319" y1="-0.44872" xlink:href="#linearGradient2701" x2="0.503968" x1="0.519841" id="linearGradient38962"/>
 </defs>
 <metadata id="metadata7">image/svg+xmlworkstationJuly 2008Beate KasparBeate KasparRRZEworkstationpcclientcomputerterminalHendrik Eggers, Franziska Sponseluses &lt;http://webcvs.freedesktop.org/tango/tango-icon-theme/scalable/status/network-idle.svg&gt;
and &lt;http://webcvs.freedesktop.org/tango/tango-icon-theme/scalable/devices/input-mouse.svg&gt;</metadata>
 <g>
  <title>Layer 1</title>
  <g id="layer1">
   <g id="g38978">
    <rect fill="#f0ad4e" y="-22.14432" x="-49.879845" width="850" id="rect2300" height="850"/>
    <path fill="url(#radialGradient38841)" fill-rule="evenodd" stroke-linecap="round" marker-start="none" marker-mid="none" marker-end="none" stroke-miterlimit="4" stroke-dashoffset="0" stroke-opacity="0.700637" id="path2452" d="m493.917877,442.952881a218.797363,80.760307 0 1 1 -437.594688,0a218.797363,80.760307 0 1 1 437.594688,0z"/>
    <path fill="#babdb6" fill-rule="evenodd" stroke="#555753" marker-start="none" marker-mid="none" marker-end="none" stroke-miterlimit="4" stroke-dashoffset="0" id="path2407" d="m392.14621,424.214966a121.754112,51.058178 0 1 1 -243.50824,0a121.754112,51.058178 0 1 1 243.50824,0z"/>
    <path fill="none" fill-rule="evenodd" stroke="#7b7f7a" marker-start="none" marker-mid="none" marker-end="none" stroke-miterlimit="4" stroke-dashoffset="0" id="path1825" d="m384.874115,415.050842a114.482079,48.008617 0 1 1 -228.964172,0a114.482079,48.008617 0 1 1 228.964172,0z"/>
    <path fill="none" fill-rule="evenodd" stroke="url(#linearGradient38843)" stroke-width="0.680653" marker-start="none" marker-mid="none" marker-end="none" stroke-miterlimit="4" stroke-dashoffset="0" id="path2983" d="m384.874115,405.330627a114.482079,48.008617 0 1 1 -228.964172,0a114.482079,48.008617 0 1 1 228.964172,0z"/>
    <path fill="#d3d7cf" fill-rule="evenodd" stroke="#888a85" stroke-width="5.184105" stroke-linejoin="round" stroke-miterlimit="4" id="path2411" d="m319.802979,370.385559l-0.810028,12.960266c0,0 56.041595,46.646179 116.642365,54.465637c30.300446,3.909729 61.608948,9.103455 87.48175,15.39032c25.872986,6.286926 46.506104,14.510437 53.461121,21.465454c4.02301,4.022949 5.846008,7.434509 6.480164,10.125183c0.634216,2.690674 0.4953,4.598572 -1.215088,7.290161c-3.420593,5.383301 -13.995117,12.541016 -31.995605,18.225342c-36.000732,11.368774 -100.058685,18.630371 -188.733856,18.630371l0,12.960266c89.373993,0 153.756317,-6.838745 192.378937,-19.035339c19.311401,-6.098328 32.723999,-13.163635 39.285767,-23.490479c3.281067,-5.163391 4.630981,-11.514587 3.240051,-17.415344c-1.390869,-5.900818 -4.983826,-11.46405 -10.125183,-16.605347c-11.373535,-11.373535 -32.877991,-18.227844 -59.536194,-24.705505c-26.658112,-6.477661 -58.525055,-11.849976 -89.101807,-15.795349c-61.153259,-7.890686 -117.452393,-54.465637 -117.452393,-54.465637z"/>
    <path fill="url(#radialGradient38845)" fill-rule="evenodd" stroke-linecap="round" marker-start="none" marker-mid="none" marker-end="none" stroke-miterlimit="4" stroke-dashoffset="0" stroke-opacity="0.700637" id="path2462" d="m493.917877,372.91391a218.797363,80.760307 0 1 1 -437.594688,0a218.797363,80.760307 0 1 1 437.594688,0z"/>
    <rect fill="url(#linearGradient38962)" fill-rule="evenodd" stroke-width="0.608729" stroke-miterlimit="4" stroke-dashoffset="0" y="395.49426" x="213.33318" width="117.15654" id="rect2699" height="35.511623"/>
    <path fill="url(#linearGradient38957)" fill-rule="evenodd" stroke="url(#linearGradient38959)" stroke-width="12.960263" marker-start="none" marker-mid="none" marker-end="none" stroke-miterlimit="4" stroke-dashoffset="0" id="rect2404" d="m78.656677,19.543213l383.470734,0c11.811188,0 21.049408,7.56218 21.601501,18.164978l17.263702,331.499023c0.754425,14.486206 -11.677948,26.183777 -26.183716,26.183777l-408.833702,0c-14.505775,0 -26.938168,-11.697571 -26.18375,-26.183777l17.263592,-331.499023c0.522171,-10.025162 7.095871,-18.164978 21.601639,-18.164978z"/>
    <path fill="url(#linearGradient38954)" fill-rule="evenodd" stroke="#204a87" stroke-width="6.480132" stroke-linejoin="round" stroke-miterlimit="4" id="path2377" d="m95.889038,53.372223l-16.099243,285.713135l358.356323,0l-17.302063,-284.502258l-324.955017,-1.210876z"/>
    <path fill="none" fill-opacity="0.75" fill-rule="evenodd" stroke="url(#linearGradient38951)" stroke-width="12.91077" stroke-linecap="round" stroke-miterlimit="4" stroke-opacity="0.248408" id="path2393" d="m66.947479,369.990936l407.321228,0"/>
    <path fill="none" fill-rule="evenodd" stroke="url(#linearGradient38948)" stroke-width="12.960258" marker-start="none" marker-mid="none" marker-end="none" stroke-miterlimit="4" stroke-dashoffset="0" stroke-opacity="0.700637" id="path2397" d="m76.501266,32.64241l386.805527,-0.489899c3.676819,-0.004669 7.24881,3.074814 7.544281,8.457092l17.650452,321.45665c0.752228,13.699371 -6.9953,23.145355 -20.715271,23.145355l-395.598686,0c-13.719994,0 -20.645828,-9.445313 -19.905281,-23.145355l17.160553,-317.450897c0.501564,-9.277344 2.156464,-11.966721 7.058426,-11.972946z"/>
    <path opacity="0.531429" fill="url(#linearGradient38945)" fill-rule="evenodd" stroke-width="0.25pt" id="path2443" d="m99.790077,59.081604l-10.401001,231.604187c143.141441,-31.112793 148.025124,-135.981537 326.002831,-170.385345l-2.092682,-60.362549l-313.509148,-0.856293z"/>
    <path fill="url(#radialGradient38861)" fill-rule="evenodd" stroke-linecap="round" marker-start="none" marker-mid="none" marker-end="none" stroke-miterlimit="4" stroke-dashoffset="0" stroke-opacity="0.700637" id="path2657" d="m579.833252,532.30481a276.647003,76.178177 0 1 1 -553.293953,0a276.647003,76.178177 0 1 1 553.293953,0z"/>
    <path fill="url(#linearGradient38939)" fill-rule="evenodd" stroke="url(#linearGradient38941)" stroke-width="12.960263" marker-start="none" marker-mid="none" marker-end="none" stroke-miterlimit="4" stroke-dashoffset="0" id="path2409" d="m70.637909,474.731384l401.799255,0c14.505768,0 12.66684,3.517944 14.155579,7.942688l36.737823,109.187744c1.48877,4.424744 0.350159,7.942688 -14.15564,7.942688l-475.274826,0c-14.505775,0 -15.644335,-3.517944 -14.15559,-7.942688l36.737812,-109.187744c1.488747,-4.424744 -0.350189,-7.942688 14.155586,-7.942688z"/>
    <path fill="#888a85" fill-rule="evenodd" stroke-width="0.25000000000000000pt" id="path2611" d="m69.724205,500.80304l-22.910629,66.441162l71.023148,0l6.873207,-26.347351l192.450195,0l7.123871,26.893982l79.936829,0l-21.765228,-66.987793l-312.731392,0z"/>
    <path fill="#777874" fill-rule="evenodd" stroke-width="0.25pt" id="path2613" d="m130.437729,545.479004l-5.727798,21.765198l191.304626,0l-5.727661,-22.910767l-179.849167,1.145569z"/>
    <path fill="#888a85" fill-rule="evenodd" stroke-width="0.25000000000000000pt" marker-start="none" marker-mid="none" marker-end="none" stroke-miterlimit="4" stroke-dashoffset="0" id="path2619" d="m474.098541,500.803101l21.765198,65.295532l-71.023285,-1.145569l-19.474091,-63.004517l68.732178,-1.145447z"/>
    <path fill="url(#linearGradient38933)" fill-rule="evenodd" stroke-width="0.25pt" marker-start="none" marker-mid="none" marker-end="none" stroke-miterlimit="4" stroke-dashoffset="0" id="path2615" d="m474.098541,493.929932l21.765198,65.295471l-71.023285,-1.145569l-19.474091,-63.004333l68.732178,-1.145569z"/>
    <path fill="url(#linearGradient38930)" fill-rule="evenodd" stroke-width="0.25pt" id="path2617" d="m69.724205,492.784363l-22.910629,66.44104l71.023148,0l6.873207,-26.34729l192.450195,0l7.123871,26.894104l79.936829,0l-21.765228,-66.987854l-312.731392,0z"/>
    <path fill="url(#linearGradient38927)" fill-rule="evenodd" stroke-width="0.25pt" marker-start="none" marker-mid="none" marker-end="none" stroke-miterlimit="4" stroke-dashoffset="0" id="path2621" d="m130.437729,538.605774l-5.727798,21.765198l191.304626,0l-5.727661,-22.910645l-179.849167,1.145447z"/>
    <path fill="none" fill-rule="evenodd" stroke="url(#linearGradient38924)" stroke-width="6.480132" stroke-linejoin="round" marker-start="none" marker-mid="none" marker-end="none" stroke-miterlimit="4" stroke-dashoffset="0" id="path2631" d="m66.304382,484.589844l412.470978,0l34.178558,104.881714l-482.913254,0l36.263718,-104.881714z"/>
    <path fill="url(#linearGradient38875)" fill-rule="evenodd" stroke-width="0.5" marker-start="none" marker-mid="none" marker-end="none" stroke-miterlimit="4" stroke-dashoffset="0" id="path2709" d="m466.415894,68.163498a14.487306,7.165631 0 1 1 -28.974548,0a14.487306,7.165631 0 1 1 28.974548,0z"/>
    <path fill="url(#linearGradient38877)" fill-rule="evenodd" stroke-width="0.5" marker-start="none" marker-mid="none" marker-end="none" stroke-miterlimit="4" stroke-dashoffset="0" id="path2719" d="m467.888214,95.454987a14.487306,7.165631 0 1 1 -28.974579,0a14.487306,7.165631 0 1 1 28.974579,0z"/>
    <path fill="url(#linearGradient38879)" fill-rule="evenodd" stroke-width="0.5" marker-start="none" marker-mid="none" marker-end="none" stroke-miterlimit="4" stroke-dashoffset="0" id="path2723" d="m469.360504,121.375488a14.487306,7.165631 0 1 1 -28.974548,0a14.487306,7.165631 0 1 1 28.974548,0z"/>
    <path fill="url(#linearGradient38881)" fill-rule="evenodd" stroke-width="0.5" marker-start="none" marker-mid="none" marker-end="none" stroke-miterlimit="4" stroke-dashoffset="0" id="path2727" d="m470.832794,147.29599a14.487306,7.165631 0 1 1 -28.974548,0a14.487306,7.165631 0 1 1 28.974548,0z"/>
    <path fill="url(#linearGradient38883)" fill-rule="evenodd" stroke-width="0.5" marker-start="none" marker-mid="none" marker-end="none" stroke-miterlimit="4" stroke-dashoffset="0" id="path2731" d="m472.305115,173.216583a14.487306,7.165631 0 1 1 -28.974579,0a14.487306,7.165631 0 1 1 28.974579,0z"/>
    <path fill="#4a4a4a" stroke-width="1pt" id="text2735" d="m246.091492,351.611725l3.651154,0c1.085541,0 1.917877,0.241821 2.496918,0.725647c0.582825,0.479919 0.874176,1.165649 0.874176,2.056915c0,0.895172 -0.291351,1.584656 -0.874176,2.068451c-0.579041,0.479919 -1.411377,0.71994 -2.496918,0.71994l-1.451294,0l0,2.959747l-2.19986,0l0,-8.530701m2.19986,1.594116l0,2.382599l1.21698,0c0.426666,0 0.756226,-0.102753 0.988495,-0.308441c0.232361,-0.209564 0.348633,-0.504822 0.348633,-0.885712c0,-0.38092 -0.116272,-0.674194 -0.348633,-0.879883c-0.232269,-0.205658 -0.561829,-0.308563 -0.988495,-0.308563l-1.21698,0m10.26767,-0.154236c-0.670441,0 -1.19043,0.247559 -1.559906,0.742737c-0.369385,0.495209 -0.554199,1.192352 -0.554199,2.091278c0,0.895172 0.184814,1.590363 0.554199,2.085571c0.369476,0.495209 0.889465,0.742767 1.559906,0.742767c0.674164,0 1.196075,-0.247559 1.565582,-0.742767c0.369476,-0.495209 0.554169,-1.190399 0.554291,-2.085571c-0.000122,-0.898926 -0.184814,-1.596069 -0.554291,-2.091278c-0.369507,-0.495178 -0.891418,-0.742737 -1.565582,-0.742737m0,-1.594238c1.371307,0 2.445435,0.392426 3.222534,1.177032c0.7771,0.78476 1.165649,1.8685 1.165649,3.251221c0,1.378967 -0.38855,2.460785 -1.165649,3.245392c-0.7771,0.784729 -1.851227,1.177032 -3.222534,1.177032c-1.367462,0 -2.441742,-0.392303 -3.222595,-1.177032c-0.7771,-0.784607 -1.165649,-1.866425 -1.165649,-3.245392c0,-1.382721 0.38855,-2.466461 1.165649,-3.251221c0.780853,-0.784607 1.855133,-1.177032 3.222595,-1.177032m6.045166,0.154358l2.457001,0l3.10257,5.850891l0,-5.850891l2.085541,0l0,8.530701l-2.457001,0l-3.102539,-5.850891l0,5.850891l-2.085571,0l0,-8.530701m8.593567,0l2.405548,0l1.942596,3.039673l1.942749,-3.039673l2.411255,0l-3.25119,4.936676l0,3.594025l-2.199738,0l0,-3.594025l-3.251221,-4.936676"/>
    <path fill="url(#radialGradient38885)" fill-rule="evenodd" marker-start="none" marker-mid="none" marker-end="none" stroke-miterlimit="4" stroke-dashoffset="0" id="path11605" d="m719.796021,678.327026a90.231033,107.265976 0 1 1 -180.462097,0a90.231033,107.265976 0 1 1 180.462097,0z"/>
    <path fill="none" fill-opacity="0.75" fill-rule="evenodd" stroke="url(#linearGradient38914)" stroke-width="5.941794" stroke-miterlimit="4" id="path12260" d="m625.463623,553.355347c-19.422119,-45.836548 -10.924988,-53.475952 29.13324,-41.252869c39.215515,11.965942 83.757935,62.64325 80.116272,9.167297c-3.857971,-56.653381 -308.877655,-105.956116 -308.877655,-105.956116"/>
    <path opacity="0.57438" fill="url(#radialGradient38911)" fill-rule="evenodd" stroke="#000000" stroke-width="6.142" stroke-miterlimit="4" id="path11595" d="m544.686523,654.997437c-14.189758,66.655823 27.156311,112.515198 89.235168,112.515198c61.406982,0 91.936584,-53.112976 79.290955,-112.515198l-20.158752,-79.539001c-2.351868,-11.141235 -7.374329,-14.703613 -10.751282,-15.916077c-33.059937,-15.703796 -79.635437,-16.460632 -108.721924,0c-3.695801,2.122131 -6.383606,2.122131 -9.071411,12.73291l-19.822754,82.722168z"/>
    <path fill="#ffffff" fill-opacity="0.79661" fill-rule="evenodd" stroke-width="1px" id="path11948" d="m552.98822,635.544556c39.971497,-32.411316 103.330627,-36.115479 145.428284,-3.704163c-37.350403,-23.69696 -100.537354,-26.548096 -145.428284,3.704163z"/>
    <path fill="#000000" fill-opacity="0.259887" fill-rule="evenodd" stroke-width="1px" id="path11615" d="m553.846558,634.194092c41.902832,-38.083252 103.330627,-38.546326 144.140747,-2.89386c-37.779541,-28.558655 -100.751892,-30.329468 -144.140747,2.89386z"/>
    <path fill="url(#linearGradient38891)" fill-rule="evenodd" stroke-width="1.000001" marker-start="none" marker-mid="none" marker-end="none" stroke-miterlimit="4" stroke-dashoffset="0" id="path11617" d="m648.380493,589.49707a20.906162,41.138863 0 1 1 -41.812317,0a20.906162,41.138863 0 1 1 41.812317,0z"/>
    <path fill="url(#linearGradient38902)" fill-rule="evenodd" stroke="url(#linearGradient38904)" stroke-width="5.941793" stroke-miterlimit="4" id="path11633" d="m547.847595,665.857361c-8.133423,51.706116 26.792969,95.744751 86.489319,95.744751c59.696045,0 82.54248,-53.157654 75.756409,-95.744751l-21.519226,-85.303894c-1.785583,-13.42041 -7.045349,-14.714966 -10.160339,-16.008057c-33.802856,-14.032227 -73.215515,-15.18988 -100.7547,0c-3.45105,1.903503 -6.309692,1.180115 -8.406677,10.861755l-21.404785,90.450195z"/>
    <path fill="url(#linearGradient38897)" fill-rule="evenodd" stroke="#595959" stroke-width="0.545373" marker-start="none" marker-mid="none" marker-end="none" stroke-miterlimit="4" stroke-dashoffset="0" id="path11619" d="m637.903137,575.197876a10.545389,29.015842 0 1 1 -21.09082,0a10.545389,29.015842 0 1 1 21.09082,0z"/>
    <path fill="#ffffff" fill-opacity="0.333333" fill-rule="evenodd" stroke-width="1.000001" marker-start="none" marker-mid="none" marker-end="none" stroke-miterlimit="4" stroke-dashoffset="0" id="path11631" d="m626.621948,565.628723a2.942883,15.742632 0 1 1 -5.885803,0a2.942883,15.742632 0 1 1 5.885803,0z"/>
   </g>
  </g>
  <text xml:space="preserve" text-anchor="middle" font-family="serif" font-size="76" id="svg_1" y="704" x="267" stroke-width="0" stroke="#000000" fill="#000000"><%= @ipaddr %></text>
 </g>
</svg>
