<svg width="400" height="150" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
 <defs>
  <linearGradient id="linearGradient8472">
   <stop stop-color="#343434" id="stop8474" offset="0"/>
   <stop stop-color="#000000" stop-opacity="0" id="stop8476" offset="1"/>
  </linearGradient>
  <linearGradient id="linearGradient7797">
   <stop stop-color="#b1b1c5" id="stop7799" offset="0"/>
   <stop stop-color="#b1b1c5" stop-opacity="0" id="stop7801" offset="1"/>
  </linearGradient>
  <linearGradient id="linearGradient7655">
   <stop stop-color="#a0a0b4" id="stop7657" offset="0"/>
   <stop stop-color="#a0a0b4" stop-opacity="0" id="stop7659" offset="1"/>
  </linearGradient>
  <linearGradient id="linearGradient7645">
   <stop stop-color="#a0a0b4" id="stop7647" offset="0"/>
   <stop stop-color="#a0a0b4" stop-opacity="0" id="stop7649" offset="1"/>
  </linearGradient>
  <linearGradient id="linearGradient5013">
   <stop stop-color="#a0a0b4" id="stop5015" offset="0"/>
   <stop stop-color="#a0a0b4" stop-opacity="0" id="stop5017" offset="1"/>
  </linearGradient>
  <linearGradient id="linearGradient3341">
   <stop stop-color="#000000" stop-opacity="0.415686" id="stop3343" offset="0"/>
   <stop stop-color="#000000" stop-opacity="0" id="stop3345" offset="1"/>
  </linearGradient>
  <linearGradient id="linearGradient3331">
   <stop stop-color="#0000ff" id="stop3333" offset="0"/>
   <stop stop-color="#0000ff" stop-opacity="0" id="stop3335" offset="1"/>
  </linearGradient>
  <linearGradient y2="2.219724" x2="1.189593" y1="0.5" x1="0.208712" id="linearGradient5019" xlink:href="#linearGradient5013"/>
  <linearGradient y2="0.500001" x2="1.00032" y1="0.500001" x1="-0.001041" id="linearGradient7651" xlink:href="#linearGradient7645"/>
  <linearGradient y2="0.49045" x2="0.987003" y1="0.49045" x1="-0.01971" id="linearGradient7661" xlink:href="#linearGradient7655"/>
  <linearGradient y2="0.499999" x2="1.002947" y1="0.499999" x1="-0.002947" id="linearGradient7880" xlink:href="#linearGradient7797"/>
  <radialGradient gradientUnits="userSpaceOnUse" gradientTransform="matrix(1,0,0,0.1731922,0,173.77227)" r="76.311432" fy="210.1725" fx="219.32986" cy="210.1725" cx="219.32986" id="radialGradient8480" xlink:href="#linearGradient8472"/>
  <filter id="filter8502" height="1.462088" y="-0.231044" width="1.078653" x="-0.039327">
   <feGaussianBlur id="feGaussianBlur8504" stdDeviation="2.491913"/>
  </filter>
 </defs>
 <metadata id="metadata7">image/svg+xmlNetwork Switch3-1-08Arthur DoddNetwork switch with 16 ports, indicator lights, and drop shadow.www.bluecollarcomp.com</metadata>
 <g>
  <title>Layer 1</title>
  <g id="layer1">
<rect fill="#f0ad4e" width="400" height="150"/>
   <path opacity="0.759259" fill="url(#radialGradient8480)" stroke-width="0.548" stroke-linejoin="round" stroke-miterlimit="4" filter="url(#filter8502)" d="m376.83075,100.712219a177.376953,32.697823 0 1 1 -354.75388,0a177.376953,32.697823 0 1 1 354.75388,0z" id="path8470"/>
   <path fill="#ffffff" fill-rule="evenodd" stroke-width="1px" id="path8508" d="m54.543571,66.880074l72.108459,-22.187214l242.672646,0.462231l-0.462219,31.431892l-68.872803,23.111679l-245.908325,0.462227l0.462242,-33.280815z"/>
   <path fill="url(#linearGradient7651)" fill-rule="evenodd" stroke="#000000" stroke-width="0.499521" stroke-miterlimit="4" id="path7643" d="m126.522034,45.312531l243.289978,0.087509l-70.45459,22.898888l-244.936043,-0.264595l72.100655,-22.721802z"/>
   <path fill="url(#linearGradient7661)" fill-rule="evenodd" stroke="#000000" stroke-width="0.634788px" id="path7653" d="m299.959564,100.442497l68.31662,-24.0998l1.328003,-30.690006l-70.229919,22.726452l0.585297,32.063354z"/>
   <rect fill="url(#linearGradient5019)" stroke="#000000" stroke-width="1.129993" stroke-linejoin="round" y="68.163704" x="54.679298" height="32.227505" width="244.91319" id="rect5011"/>
   <g transform="matrix(0.9496307,0,0,1.0003808,-102.17239,-226.60853) " id="g7785">
    <rect fill="#000000" stroke="#3d3d3d" stroke-width="0.678" stroke-linejoin="round" stroke-miterlimit="4" id="rect7663" width="8.540967" height="7.117472" x="176.76352" y="303.3862"/>
    <rect fill="#000000" stroke="#3d3d3d" stroke-width="0.678" stroke-linejoin="round" stroke-miterlimit="4" id="rect7745" width="8.540967" height="7.117472" x="190.09795" y="303.3862"/>
    <rect fill="#000000" stroke="#3d3d3d" stroke-width="0.678" stroke-linejoin="round" stroke-miterlimit="4" id="rect7747" width="8.540967" height="7.117472" x="270.10446" y="303.3862"/>
    <rect fill="#000000" stroke="#3d3d3d" stroke-width="0.678" stroke-linejoin="round" stroke-miterlimit="4" id="rect7749" width="8.540967" height="7.117472" x="256.77005" y="303.3862"/>
    <rect fill="#000000" stroke="#3d3d3d" stroke-width="0.678" stroke-linejoin="round" stroke-miterlimit="4" id="rect7751" width="8.540967" height="7.117472" x="243.43562" y="303.3862"/>
    <rect fill="#000000" stroke="#3d3d3d" stroke-width="0.678" stroke-linejoin="round" stroke-miterlimit="4" id="rect7753" width="8.540967" height="7.117472" x="230.1012" y="303.3862"/>
    <rect fill="#000000" stroke="#3d3d3d" stroke-width="0.678" stroke-linejoin="round" stroke-miterlimit="4" id="rect7755" width="8.540967" height="7.117472" x="216.76678" y="303.3862"/>
    <rect fill="#000000" stroke="#3d3d3d" stroke-width="0.678" stroke-linejoin="round" stroke-miterlimit="4" id="rect7757" width="8.540967" height="7.117472" x="203.43236" y="303.3862"/>
   </g>
   <g transform="matrix(0.9496307,0,0,1.0003808,-102.50399,-226.71175) " id="g7775">
    <rect fill="#000000" stroke="#3d3d3d" stroke-width="0.678" stroke-linejoin="round" stroke-miterlimit="4" id="rect7759" width="8.540967" height="7.117472" x="177.06526" y="312.97974"/>
    <rect fill="#000000" stroke="#3d3d3d" stroke-width="0.678" stroke-linejoin="round" stroke-miterlimit="4" id="rect7761" width="8.540967" height="7.117472" x="190.39967" y="312.97974"/>
    <rect fill="#000000" stroke="#3d3d3d" stroke-width="0.678" stroke-linejoin="round" stroke-miterlimit="4" id="rect7763" width="8.540967" height="7.117472" x="270.40619" y="312.97974"/>
    <rect fill="#000000" stroke="#3d3d3d" stroke-width="0.678" stroke-linejoin="round" stroke-miterlimit="4" id="rect7765" width="8.540967" height="7.117472" x="257.07178" y="312.97974"/>
    <rect fill="#000000" stroke="#3d3d3d" stroke-width="0.678" stroke-linejoin="round" stroke-miterlimit="4" id="rect7767" width="8.540967" height="7.117472" x="243.73738" y="312.97974"/>
    <rect fill="#000000" stroke="#3d3d3d" stroke-width="0.678" stroke-linejoin="round" stroke-miterlimit="4" id="rect7769" width="8.540967" height="7.117472" x="230.40297" y="312.97974"/>
    <rect fill="#000000" stroke="#3d3d3d" stroke-width="0.678" stroke-linejoin="round" stroke-miterlimit="4" id="rect7771" width="8.540967" height="7.117472" x="217.06856" y="312.97974"/>
    <rect fill="#000000" stroke="#3d3d3d" stroke-width="0.678" stroke-linejoin="round" stroke-miterlimit="4" id="rect7773" width="8.540967" height="7.117472" x="203.73409" y="312.97974"/>
   </g>
   <g id="g7859">
    <rect fill="url(#linearGradient7880)" stroke="#3d3d3d" stroke-width="0.475936" stroke-linejoin="round" stroke-miterlimit="4" id="rect7795" width="79.112335" height="15.232988" x="195.413718" y="78.098311" ry="1.701351"/>
    <g id="g7831">
     <rect fill="#27ff00" fill-opacity="0.533742" stroke="#3d3d3d" stroke-width="0.281328" stroke-linejoin="round" stroke-miterlimit="4" y="81.141101" x="202.721957" height="3.899171" width="3.899171" id="rect7805"/>
     <rect fill="#27ff00" fill-opacity="0.533742" stroke="#3d3d3d" stroke-width="0.281328" stroke-linejoin="round" stroke-miterlimit="4" y="81.141101" x="211.378637" height="3.899171" width="3.899171" id="rect7817"/>
     <rect fill="#27ff00" fill-opacity="0.533742" stroke="#3d3d3d" stroke-width="0.281328" stroke-linejoin="round" stroke-miterlimit="4" y="81.141101" x="220.035287" height="3.899171" width="3.899171" id="rect7819"/>
     <rect fill="#27ff00" fill-opacity="0.533742" stroke="#3d3d3d" stroke-width="0.281328" stroke-linejoin="round" stroke-miterlimit="4" y="81.141101" x="228.691967" height="3.899171" width="3.899171" id="rect7821"/>
     <rect fill="#27ff00" fill-opacity="0.533742" stroke="#3d3d3d" stroke-width="0.281328" stroke-linejoin="round" stroke-miterlimit="4" y="81.141101" x="237.348637" height="3.899171" width="3.899171" id="rect7823"/>
     <rect fill="#27ff00" fill-opacity="0.533742" stroke="#3d3d3d" stroke-width="0.281328" stroke-linejoin="round" stroke-miterlimit="4" y="81.141101" x="246.005317" height="3.899171" width="3.899171" id="rect7825"/>
     <rect fill="#27ff00" fill-opacity="0.533742" stroke="#3d3d3d" stroke-width="0.281328" stroke-linejoin="round" stroke-miterlimit="4" y="81.141101" x="254.661967" height="3.899171" width="3.899171" id="rect7827"/>
     <rect fill="#27ff00" fill-opacity="0.533742" stroke="#3d3d3d" stroke-width="0.281328" stroke-linejoin="round" stroke-miterlimit="4" y="81.141101" x="263.318637" height="3.899171" width="3.899171" id="rect7829"/>
    </g>
    <g id="g7841">
     <rect fill="#27ff00" fill-opacity="0.533742" stroke="#3d3d3d" stroke-width="0.281328" stroke-linejoin="round" stroke-miterlimit="4" y="86.680826" x="202.721957" height="3.899171" width="3.899171" id="rect7843"/>
     <rect fill="#27ff00" fill-opacity="0.533742" stroke="#3d3d3d" stroke-width="0.281328" stroke-linejoin="round" stroke-miterlimit="4" y="86.680826" x="211.378637" height="3.899171" width="3.899171" id="rect7845"/>
     <rect fill="#27ff00" fill-opacity="0.533742" stroke="#3d3d3d" stroke-width="0.281328" stroke-linejoin="round" stroke-miterlimit="4" y="86.680826" x="220.035287" height="3.899171" width="3.899171" id="rect7847"/>
     <rect fill="#27ff00" fill-opacity="0.533742" stroke="#3d3d3d" stroke-width="0.281328" stroke-linejoin="round" stroke-miterlimit="4" y="86.680826" x="228.691967" height="3.899171" width="3.899171" id="rect7849"/>
     <rect fill="#27ff00" fill-opacity="0.533742" stroke="#3d3d3d" stroke-width="0.281328" stroke-linejoin="round" stroke-miterlimit="4" y="86.680826" x="237.348637" height="3.899171" width="3.899171" id="rect7851"/>
     <rect fill="#27ff00" fill-opacity="0.533742" stroke="#3d3d3d" stroke-width="0.281328" stroke-linejoin="round" stroke-miterlimit="4" y="86.680826" x="246.005317" height="3.899171" width="3.899171" id="rect7853"/>
     <rect fill="#27ff00" fill-opacity="0.533742" stroke="#3d3d3d" stroke-width="0.281328" stroke-linejoin="round" stroke-miterlimit="4" y="86.680826" x="254.661967" height="3.899171" width="3.899171" id="rect7855"/>
     <rect fill="#27ff00" fill-opacity="0.533742" stroke="#3d3d3d" stroke-width="0.281328" stroke-linejoin="round" stroke-miterlimit="4" y="86.680826" x="263.318637" height="3.899171" width="3.899171" id="rect7857"/>
    </g>
   </g>
  </g>
  <text xml:space="preserve" text-anchor="middle" font-family="serif" font-size="35" id="svg_1" y="135.5" x="199" stroke-width="0" stroke="#000000" fill="#000000"><%= @mac %></text>
 </g>
</svg>
